<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplaySets</key>
	<dict>
		<key>Configs</key>
		<array>
			<dict>
				<key>DisplayConfig</key>
				<array>
					<dict>
						<key>CurrentInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>848</real>
							<key>Hz</key>
							<real>120</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<true/>
							<key>OriginX</key>
							<real>0.0</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1312</real>
						</dict>
						<key>Rotation</key>
						<real>0.0</real>
						<key>UUID</key>
						<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
						<key>UnmirrorInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>848</real>
							<key>Hz</key>
							<real>120</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<true/>
							<key>OriginX</key>
							<real>0.0</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1312</real>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>DisplayConfig</key>
				<array>
					<dict>
						<key>CurrentInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>967</real>
							<key>Hz</key>
							<real>120</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<true/>
							<key>OriginX</key>
							<real>0.0</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1496</real>
						</dict>
						<key>Rotation</key>
						<real>0.0</real>
						<key>UUID</key>
						<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
						<key>UnmirrorInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>967</real>
							<key>Hz</key>
							<real>120</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<true/>
							<key>OriginX</key>
							<real>0.0</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1496</real>
						</dict>
					</dict>
					<dict>
						<key>CurrentInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>1080</real>
							<key>Hz</key>
							<real>30</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<false/>
							<key>OriginX</key>
							<real>1496</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1920</real>
						</dict>
						<key>Rotation</key>
						<real>0.0</real>
						<key>UUID</key>
						<string>C49A76B4-ED41-42C9-BABF-439A5DD52A1D</string>
						<key>UnmirrorInfo</key>
						<dict>
							<key>Depth</key>
							<integer>8</integer>
							<key>High</key>
							<real>1080</real>
							<key>Hz</key>
							<real>30</real>
							<key>IsLink</key>
							<false/>
							<key>IsVRR</key>
							<false/>
							<key>OriginX</key>
							<real>0.0</real>
							<key>OriginY</key>
							<real>0.0</real>
							<key>Scale</key>
							<real>2</real>
							<key>Wide</key>
							<real>1920</real>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
		<key>Underscan</key>
		<dict>
			<key>37D8832A-2D66-02CA-B9F7-8F30A301B230</key>
			<real>1</real>
			<key>C49A76B4-ED41-42C9-BABF-439A5DD52A1D</key>
			<real>1</real>
		</dict>
		<key>Version</key>
		<integer>2</integer>
	</dict>
	<key>account</key>
	<integer>5</integer>
	<key>last_mode</key>
	<string>per-display</string>
</dict>
</plist>
