<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleIDAccount</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvECMLDBscHSUmJywtMzc7PlZX
	WlteX2JjZGh5ent8f4OEh4qLj1UkbnVsbNcNDg8QERITFBUWFxgZGlYkY2xhc3NXQWx0
	RFNJRFhJZGVudGl0eVxDcmVhdGlvbkRhdGVfEBBWYWxpZGF0aW9uUmVjb3JkV0FwcGxl
	SURbQ29udGFjdEluZm+AIoACgA2AC4AXgAOABF8QLjAwMTQ0MC0wOC0wOTYzMzhhOC1k
	YjFiLTRlZjYtYmJhNi1jNWM5M2M4MmQ4YTVfEBlhZGFtLmRld2JlcnJ5QG1lc2gtYWku
	Y29t1B4fIA0hIiMkWUZpcnN0TmFtZVhMYXN0TmFtZV8QF1ZhbGlkYXRlZEVtYWlsQWRk
	cmVzc2VzgAWABoAHgApUQWRhbVhEZXdiZXJyedIoDSkrWk5TLm9iamVjdHOhKoAIgAlf
	EBlhZGFtLmRld2JlcnJ5QG1lc2gtYWkuY29t0i4vMDFaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1dOU0FycmF5ojAyWE5TT2JqZWN00i4vNDVfEBRTRkFwcGxlSURDb250YWN0SW5mb6I2
	Ml8QFFNGQXBwbGVJRENvbnRhY3RJbmZv0jgNOTpXTlMudGltZSNBxMiGJ7ZsboAM0i4v
	PD1WTlNEYXRlojwy3T9ADkFCQw1EEkVGR0hJShVMTUxPUBlSU0xVXxARQWNjb3VudElk
	ZW50aWZpZXJfECVJbnRlcm1lZGlhdGVDZXJ0aWZpY2F0ZUV4cGlyYXRpb25EYXRlXxAZ
	TGFzdFZhbGlkYXRpb25BdHRlbXB0RGF0ZV8QHVByaXZhdGVLZXlQZXJzaXN0ZW50UmVm
	ZXJlbmNlXxAQTW9kaWZpY2F0aW9uRGF0ZV8QGUNlcnRpZmljYXRlRXhwaXJhdGlvbkRh
	dGVcU2VyaWFsTnVtYmVyXxAeQ2VydGlmaWNhdGVQZXJzaXN0ZW50UmVmZXJlbmNlXxAS
	TGFzdFZhbGlkYXRpb25EYXRlXxAqSW50ZXJtZWRpYXRlQ2VydGlmaWNhdGVQZXJzaXN0
	ZW50UmVmZXJlbmNlgA6AEYACgBOAFIATgBaAD4ADgBWAEIATgBJfEEljb20uYXBwbGUu
	aWRtcy5hcHBsZWlkLnByZC4wMDE0NDAtMDgtMDk2MzM4YTgtZGIxYi00ZWY2LWJiYTYt
	YzVjOTNjODJkOGE10jgNWDojQcXM5TuAAACADE8QFGNlcnSrl/rbwDNPVaSQGBLm+4OZ
	0jgNXDojQchEHAAAAACADE8QFGNlcnRMAfByY9dPppN/CTzAw6AR0jgNYDojQcTIhkfI
	FteADE8QFGtleXMtzwshvHpOtb+NWiJ72mtsXxAQN2FkZjJhMzc5MzQ5NzJmNdIuL2Vm
	XxARU0ZBcHBsZUlESWRlbnRpdHmiZzJfEBFTRkFwcGxlSURJZGVudGl0edlpag5rbG0N
	bm9wcXJzdHV2d3hdTmV4dENoZWNrRGF0ZVREYXRhXxAWU3VnZ2VzdGVkVmFsaWREdXJh
	dGlvbldWZXJzaW9uXxAUVmFsaWRhdGVkRW1haWxIYXNoZXNaSWRlbnRpZmllcl5WYWxp
	ZFN0YXJ0RGF0ZYAbgBmAGBIAJ40AgCCAHIAhgBqAH18QLjAwMTQ0MC0wOC0wOTYzMzhh
	OC1kYjFiLTRlZjYtYmJhNi1jNWM5M2M4MmQ4YTVPEQ6LMIAGCSqGSIb3DQEHAqCAMIAC
	AQExCzAJBgUrDgMCGgUAMIAGCSqGSIb3DQEHAaCAJIAEggLBPD94bWwgdmVyc2lvbj0i
	MS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8v
	QXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
	cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGlj
	dD4KCTxrZXk+VmVyc2lvbjwva2V5PgoJPGludGVnZXI+MjwvaW50ZWdlcj4KCTxrZXk+
	YWx0RHNJRDwva2V5PgoJPHN0cmluZz4wMDE0NDAtMDgtMDk2MzM4YTgtZGIxYi00ZWY2
	LWJiYTYtYzVjOTNjODJkOGE1PC9zdHJpbmc+Cgk8a2V5PmVuY0RzSUQ8L2tleT4KCTxz
	dHJpbmc+MDAxNDQwLTA4LTA5NjMzOGE4LWRiMWItNGVmNi1iYmE2LWM1YzkzYzgyZDhh
	NTwvc3RyaW5nPgoJPGtleT5TdWdnZXN0VmFsaWREdXJhdGlvbjwva2V5PgoJPGludGVn
	ZXI+MjU5MjAwMDwvaW50ZWdlcj4KCTxrZXk+VmFsaWRBc09mPC9rZXk+Cgk8ZGF0ZT4y
	MDIzLTAyLTExVDEwOjU0OjMzWjwvZGF0ZT4KCTxrZXk+VmFsaWRhdGVkRW1haWxIYXNo
	ZXM8L2tleT4KCTxhcnJheT4KCQk8c3RyaW5nPmM0N2FkMzAwMzAxZDgxMjNkNDk2ODVi
	N2M3N2NiMjZkZDUyYjJmNWM0NmU3ODQwYzc4YzVhZTA1NmM2YmM0ZmM8L3N0cmluZz4K
	CTwvYXJyYXk+Cgk8a2V5PlZhbGlkYXRlZFBob25lSGFzaGVzPC9rZXk+Cgk8YXJyYXk+
	Cgk8L2FycmF5Pgo8L2RpY3Q+CjwvcGxpc3Q+AAAAAAAAoIAwggUUMIID/KADAgECAgh/
	FHjpvRUl6TANBgkqhkiG9w0BAQsFADCBjDFAMD4GA1UEAww3QXBwbGUgQXBwbGljYXRp
	b24gSW50ZWdyYXRpb24gMiBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEmMCQGA1UECwwd
	QXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxEzARBgNVBAoMCkFwcGxlIEluYy4x
	CzAJBgNVBAYTAlVTMB4XDTIyMDkxMjE4NDYxM1oXDTI0MDkxMTE4NDYxMlowMDEuMCwG
	A1UEAwwlQXBwbGUgSUQgVmFsaWRhdGlvbiBSZWNvcmQgU2lnbmluZyAwNTCCASIwDQYJ
	KoZIhvcNAQEBBQADggEPADCCAQoCggEBAOLHsxS1J7cIj++P7xBMk9PdOFIFzHtELKsC
	JW/Zo+w6lk+qxVMFwAwGXkSJ+0xSCM1qRb0Y8I8bZdiVilELSUSnjHyDGJFOotp1gdDZ
	ffoKDRvXQgatiNzRwvlxUxvjWP5xZwr9zJHegazWVgFt9ytS91UHTSRKr3cnoYKqvKPO
	Ky+7neTi/iqUhvkDAouyYSKCM80cuNpx2Aj6dLaX9MRX+vmyYoW7qogIBFxbdFPBckV1
	Uh+YxhzxXtOSWrEracAzxRPWbhFSFQPOcJc7wYRlk5ON4/DJVhrdBYsimSk7RwlWe1hN
	hN5xvMBAh2GJlY69Sf/PinR8wucEZusdPfMCAwEAAaOCAdMwggHPMAkGA1UdEwQCMAAw
	HwYDVR0jBBgwFoAU9758IWCR2z0be9g6MoFp355sf5swQQYIKwYBBQUHAQEENTAzMDEG
	CCsGAQUFBzABhiVodHRwOi8vb2NzcC5hcHBsZS5jb20vb2NzcDAzLWFhaTJjYTAyMIIB
	HAYDVR0gBIIBEzCCAQ8wggELBgkqhkiG92NkBQEwgf0wgcMGCCsGAQUFBwICMIG2DIGz
	UmVsaWFuY2Ugb24gdGhpcyBjZXJ0aWZpY2F0ZSBieSBhbnkgcGFydHkgYXNzdW1lcyBh
	Y2NlcHRhbmNlIG9mIHRoZSB0aGVuIGFwcGxpY2FibGUgc3RhbmRhcmQgdGVybXMgYW5k
	IGNvbmRpdGlvbnMgb2YgdXNlLCBjZXJ0aWZpY2F0ZSBwb2xpY3kgYW5kIGNlcnRpZmlj
	YXRpb24gcHJhY3RpY2Ugc3RhdGVtZW50cy4wNQYIKwYBBQUHAgEWKWh0dHA6Ly93d3cu
	YXBwbGUuY29tL2NlcnRpZmljYXRlYXV0aG9yaXR5MB0GA1UdDgQWBBQ4u5EfRuwHSdZ1
	8XSINxWy1CkQkjAOBgNVHQ8BAf8EBAMCB4AwDwYJKoZIhvdjZAYZBAIFADANBgkqhkiG
	9w0BAQsFAAOCAQEAglHyi59ofjCY5PRdGqQ/U1/KOMPkUp/zfEqeOgrfElqTr7c8253c
	6498sU0Xiueu8k6WUXMDOzQN+WUmCaivNBdvSHM3EFl4Zyv3srW12YtU0m6Szqeld7st
	cY2Co0/55dcJE4AXTkBJdXp2Vt0Wyd7XteWXstA8aLSrZRghMhlzuUJ4VIKI+jJZdtqf
	synJYUNQLXsg7tahvlNLSrzOP65fJ5a806oYKMgFQztoST+awSAfhAyIhKzFB5G1i1xY
	Bg7oET4Kkt1qgQwQ2vcvzUdIsRPIT+wlfXEV97ogiVk7RWz9yhaEEH1+9e1Oy/v02ATh
	RGUarW5/eVXJ577HFjCCBBgwggMAoAMCAQICCAS5+2WRSphpMA0GCSqGSIb3DQEBCwUA
	MGIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBs
	ZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEWMBQGA1UEAxMNQXBwbGUgUm9vdCBDQTAe
	Fw0xMzA1MjQxNzQzMzdaFw0yODA1MjQxNzQzMzdaMIGMMUAwPgYDVQQDDDdBcHBsZSBB
	cHBsaWNhdGlvbiBJbnRlZ3JhdGlvbiAyIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MSYw
	JAYDVQQLDB1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTETMBEGA1UECgwKQXBw
	bGUgSW5jLjELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
	AQC4SKFnbFYIneVwxUb0r4XjvTreoefZqDY8GWKlfBWgR7NrgRsQrP7YdOYONbBYT3TY
	o/7tLe6kcyVZ1JbcJs+dJ4tUnNySseAzEhhimci5rzYYpGqBkacVbd3dDy3MBYEdfRDM
	KYmjyQyZqqLs2QFnaQcCPBe/RCgkscQsNdaxAgAIJe9QpwfbJcbDT29bh74q8ZOn1Gxe
	sjkuBKnhbRw7rjlxPwTzufRXnSMAT5mDXp/wDAFYvrXR7NeyfsJl4vHsPKb8bttWs+4K
	BrILS8mi8PEx9q7eNWzDgF5QY5C2um1cwOOfJoNKHd6bqbBab/uba4Hs3d8y3vwuQqLK
	eFrXAgMBAAGjgaYwgaMwHQYDVR0OBBYEFPe+fCFgkds9G3vYOjKBad+ebH+bMA8GA1Ud
	EwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUK9BpR5R2Cf70a40uQKb3R01/CF4wLgYDVR0f
	BCcwJTAjoCGgH4YdaHR0cDovL2NybC5hcHBsZS5jb20vcm9vdC5jcmwwDgYDVR0PAQH/
	BAQDAgEGMBAGCiqGSIb3Y2QGAgMEAgUAMA0GCSqGSIb3DQEBCwUAA4IBAQCVzY39pF31
	8cCHSYfdszOTrYQS0CGT49nW2q8JIoJgDTxZQvEtAZO2P//0KvTuFWp4wS77O0wQrmVD
	y8+oDus9N5BFLwhKjaiIaxkXEeKa2+9nuAfx5NiGC3F30/OJ4K+k6igFpD80eWU2g1QS
	QXHXHRIh3FBVRc6OvPfcVdCzyihRrHNRB6x5f4tukqA3CWExL6HRuuvhXDfA2NEbDOfg
	EFJCpJR/i/ZgImB8oMA/wZWF1cInY7BiVpntJfTMiJmZ3FQcFwUBt3nogYU4QMK5CO1N
	YtQr9ikG8Weh4R0FjXIMdw72oJQrUYgShFPy85IJCITz6L+hEybP/BeSN7tAAAAxggJM
	MIICSAIBATCBmTCBjDFAMD4GA1UEAww3QXBwbGUgQXBwbGljYXRpb24gSW50ZWdyYXRp
	b24gMiBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEmMCQGA1UECwwdQXBwbGUgQ2VydGlm
	aWNhdGlvbiBBdXRob3JpdHkxEzARBgNVBAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVT
	Agh/FHjpvRUl6TAJBgUrDgMCGgUAoIGIMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEw
	HAYJKoZIhvcNAQkFMQ8XDTIzMDIxMTEwNTQzM1owIwYJKoZIhvcNAQkEMRYEFMC5QKC9
	1HhDS0b1PKgLvfP3Wl9BMCkGCSqGSIb3DQEJNDEcMBowCQYFKw4DAhoFAKENBgkqhkiG
	9w0BAQEFADANBgkqhkiG9w0BAQEFAASCAQCbPVimB74clrl5Dgea/Vpro2N3O/VeVY2N
	riamDAlgXrpNvcIuHufl+1Lski+iHRoo4kmojZf6trbohfNuUl5JbI40leLUj3ilwz2A
	v06JLfF/3O8z11TJZXROuRyshMOueC69OE1RxCySZNwacH+FKX7ybT6u2opy7pn0ttT/
	V8pWaWfoLmQBS4kUM03rz9xNitIIPbPgM9ymz1LVZXvMaTjlumTfcgBvlB9+VJD9h5GB
	egNxFhvW/jJBiInRAVGBEMvZywlWK+p7f4jWxDZiWHxe4M6ktCrPyZ+OL9QIZ+ibcnY4
	P7Lcg/zyhZOHQxx1lhsl4OyJL/+PRComE95iAAAAAAAAXxBAZDRkMjMwYTZjOWNhOWIw
	MjEwODc5YTg1MmM5MzEzODBjNjNhY2FkYzA4NTY5ZTFlMjU4ZTVlYzg3MGQzZDcwZtI4
	DX06I0HEzyF0v2v9gAzSKA2AgqGBgB2AHl8QQGM0N2FkMzAwMzAxZDgxMjNkNDk2ODVi
	N2M3N2NiMjZkZDUyYjJmNWM0NmU3ODQwYzc4YzVhZTA1NmM2YmM0ZmPSLi+Fhl5OU011
	dGFibGVBcnJheaOFMDLSOA2IOiNBxMvVtIAAAIAMEALSLi+MjV8QGVNGQXBwbGVJRFZh
	bGlkYXRpb25SZWNvcmSijjJfEBlTRkFwcGxlSURWYWxpZGF0aW9uUmVjb3Jk0i4vkJFf
	EBBTRkFwcGxlSURBY2NvdW50opIyXxAQU0ZBcHBsZUlEQWNjb3VudAAIABEAGgAkACkA
	MgA3AEkATABRAFMAeQB/AI4AlQCdAKYAswDGAM4A2gDcAN4A4ADiAOQA5gDoARkBNQE+
	AUgBUQFrAW0BbwFxAXMBeAGBAYYBkQGTAZUBlwGzAbgBwwHMAdQB1wHgAeUB/AH/AhYC
	GwIjAiwCLgIzAjoCPQJYAmwClAKwAtAC4wL/AwwDLQNCA28DcQNzA3UDdwN5A3sDfQN/
	A4EDgwOFA4cDiQPVA9oD4wPlA/wEAQQKBAwEIwQoBDEEMwRKBF0EYgR2BHkEjQSgBK4E
	swTMBNQE6wT2BQUFBwUJBQsFEAUSBRQFFgUYBRoFSxPaFB0UIhQrFC0UMhQ0FDYUOBR7
	FIAUjxSTFJgUoRSjFKUUqhTGFMkU5RTqFP0VAAAAAAAAAAIBAAAAAAAAAJMAAAAAAAAA
	AAAAAAAAABUT
	</data>
	<key>AppleIDAgentMetaInfo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwZGhscICYpLFUkbnVsbNMN
	Dg8QFBhXTlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6MREhOAAoADgASjFRYXgAWAB4AI
	gAlfEBdMYXN0S2V5VmVyaWZpY2F0aW9uRGF0ZV5MYXN0U2lnbkluRGF0ZV8QFUxhc3RL
	ZXljaGFpbkNvdW50RGF0ZdIdDx4fV05TLnRpbWUjQcTL68mdy4GABtIhIiMkWiRjbGFz
	c25hbWVYJGNsYXNzZXNWTlNEYXRloiMlWE5TT2JqZWN00h0PJx8jQcTIhh+2Ur2ABtId
	DyofI0HEyoNQccrqgAbSISItLlxOU0RpY3Rpb25hcnmiLSUACAARABoAJAApADIANwBJ
	AEwAUQBTAF4AZABrAHMAfgCFAIkAiwCNAI8AkwCVAJcAmQCbALUAxADcAOEA6QDyAPQA
	+QEEAQ0BFAEXASABJQEuATABNQE+AUABRQFSAAAAAAAAAgEAAAAAAAAALwAAAAAAAAAA
	AAAAAAAAAVU=
	</data>
	<key>StreamID</key>
	<string>5cf46730db5a</string>
</dict>
</plist>
