<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ESAHealthSampleUpdateStorageKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBwLDBEhIiMkJSYyUFRaW19s
	b3N6gIaTlp6foqmtVSRudWxs0g0ODxBWJGNsYXNzWF9zdG9yYWdlgBuAAtMSEw0UGiBX
	TlMua2V5c1pOUy5vYmplY3RzpRUWFxgZgAOABIAFgAaAB6UbHB0eH4AIgBGAEoATgBmA
	Glp3QXZhaWxhYmxlWXNvc1N0YXR1c15vdENsaXF1ZVN0YXR1c18QD2NkcFNob3VsZFJl
	cGFpcl8QE2NkcE1hbmF0ZWVBdmFpbGFibGXWDScoKSorLC0uLy4xXxAcY3VycmVudFN0
	YXRlTW9zdFJlY2VudFNhbXBsZV8QF3ByZXZpb3VzU3RhdGVMYXN0U2FtcGxlVHR5cGVf
	EBhwcmV2aW91c1N0YXRlRmlyc3RTYW1wbGVfEBdjdXJyZW50U3RhdGVGaXJzdFNhbXBs
	ZYAQgA6AABADgACACd8QEiUzITQ1NjciODkkIzo7PA09Pj8uQS5DRC5GLkNJSUpLQ00u
	T18QD3dBdmFpbGFibGVFcnJvcl8QFGNkcFNob3VsZFJlcGFpckVycm9yWGludGVybmFs
	WXRpbWVzdGFtcF8QGGNkcE1hbmF0ZWVBdmFpbGFibGVFcnJvcl5zb3NTdGF0dXNFcnJv
	clt0ZXN0QWNjb3VudF8QFGFjY291bnRTZWN1cml0eUxldmVsXxASaUNEUEVuYWJsZWRG
	b3JEU0lEXxAPcGFzc2NvZGVFbmFibGVkXxATb3RDbGlxdWVTdGF0dXNFcnJvclVidWls
	ZBABgAAT//////////+AAAiACoAAEACAAAgQABAECQiADYAAgAzSUQ1SU1dOUy50aW1l
	I0HEydY8nTxHgAvSVVZXWFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaJXWVhOU09i
	amVjdFcyMkE4Mzgw0lVWXF1cSGVhbHRoU2FtcGxlol5ZXEhlYWx0aFNhbXBsZd8QEiUz
	ITQ1NjciODkkIzo7PA09Pj8uQS5DYy5GLkNJSUpLQ00uT4AAgAAIgA+AAIAACAkIgA2A
	AIAM0lENbVMjQcTLShIXymSAC9JVVnBxXxAYSGVhbHRoU2FtcGxlVXBkYXRlUmVjb3Jk
	onJZXxAYSGVhbHRoU2FtcGxlVXBkYXRlUmVjb3Jk1g0nKCkqKywtLncuMYAQgA6AABAF
	gACACdYNJygpKissLS5KLjGAEIAOgACAAIAJ1g0nKCkqKywtgz+DLYAQgA6AFIAUgA7f
	EBIlMyE0NTY3Ijg5JCM6OzwNPT4/LkGIQ4ouRi5DQUlKS0NNLk+AAIAWCIAVgACAAAgJ
	CIANgACADNJRDZRTI0HEyq9mMA3tgAvUl5iZDZounJ1WTlNDb2RlWk5TVXNlckluZm9Y
	TlNEb21haW4T////////5KOAAIAXgBhfEBVBS0F1dGhlbnRpY2F0aW9uRXJyb3LSVVag
	oVdOU0Vycm9yoqBZ1g0nKCkqKywtLqYuMYAQgA6AABACgACACdJVVqqrXxATTlNNdXRh
	YmxlRGljdGlvbmFyeaOqrFlcTlNEaWN0aW9uYXJ50lVWrq9fEBJIZWFsdGhTYW1wbGVV
	cGRhdGWisFlfEBJIZWFsdGhTYW1wbGVVcGRhdGUACAARABoAJAApADIANwBJAEwAUQBT
	AHIAeAB9AIQAjQCPAJEAmACgAKsAsQCzALUAtwC5ALsAwQDDAMUAxwDJAMsAzQDYAOIA
	8QEDARkBJgFFAV8BZAF/AZkBmwGdAZ8BoQGjAaUBzAHeAfUB/gIIAiMCMgI+AlUCagJ8
	ApICmAKaApwCpQKnAqgCqgKsAq4CsAKxArMCtQK2ArcCuQK7Ar0CwgLKAtMC1QLaAuUC
	7gL1AvgDAQMJAw4DGwMeAysDUgNUA1YDVwNZA1sDXQNeA18DYANiA2QDZgNrA3QDdgN7
	A5YDmQO0A8EDwwPFA8cDyQPLA80D2gPcA94D4APiA+QD8QPzA/UD9wP5A/sEIgQkBCYE
	JwQpBCsELQQuBC8EMAQyBDQENgQ7BEQERgRPBFYEYQRqBHMEdQR3BHkEkQSWBJ4EoQSu
	BLAEsgS0BLYEuAS6BL8E1QTZBOYE6wUABQMAAAAAAAACAQAAAAAAAACxAAAAAAAAAAAA
	AAAAAAAFGA==
	</data>
</dict>
</plist>
