<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CALNNotificationIconIdentifierVersion</key>
	<integer>3</integer>
	<key>CalContactsProviderHistoryToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVZfdG9rZW6AAakLDBEbHB0eHyZVJG51bGzS
	DQ4PEFYkY2xhc3NfECJOU1BlcnNpc3RlbnRIaXN0b3J5VG9rZW5EaWN0aW9uYXJ5gAiA
	AtMSEw0UFxpXTlMua2V5c1pOUy5vYmplY3RzohUWgAOABKIYGYAFgAaAB18QJDA2Rjk2
	M0QxLThDOUQtNDFDMi04ODlELTA0OUM5QkEwOUY1MV8QJDVFNTA5RTVELUQzOEItNEU0
	OC1BRDcwLTc1RTg0RjE5QzBGMBB7EAXSICEiI1okY2xhc3NuYW1lWCRjbGFzc2VzXxAT
	TlNNdXRhYmxlRGljdGlvbmFyeaMiJCVcTlNEaWN0aW9uYXJ5WE5TT2JqZWN00iAhJyhf
	EBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuoykqJV8QGV9OU1BlcnNpc3RlbnRIaXN0
	b3J5VG9rZW5fEBhOU1BlcnNpc3RlbnRIaXN0b3J5VG9rZW4ACAARABoAJAApADIANwBJ
	AEwAUwBVAF8AZQBqAHEAlgCYAJoAoQCpALQAtwC5ALsAvgDAAMIAxADrARIBFAEWARsB
	JgEvAUUBSQFWAV8BZAGAAYQBoAAAAAAAAAIBAAAAAAAAACsAAAAAAAAAAAAAAAAAAAG7
	</data>
</dict>
</plist>
