<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<array>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.FaceTime</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41951246</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/FaceTime.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAcY29t
					LmFwcGxlLlRlbGVwaG9ueVV0aWxpdGllcwAA
					AAM=
					</data>
					<key>uuid</key>
					<string>C4F4FD32-F8E7-4BEA-BC4B-CDB88DCD7B96</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.mail</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41943054</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Mail.app</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>775</integer>
			<key>bundle-id</key>
			<string>com.apple.MobileSMS</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>864550926</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Messages.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLmltYWdlbnQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>8848E4F2-2C3F-4878-B57A-16A580EA633B</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.reminders</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>847773718</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.reminders.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLnJlbWluZGQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>B1FDC738-5F01-45CB-81B8-82E4330531AA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.migrationhelper</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.accountsd</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.controlcenter.notifications.low-battery</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.controlcenter.notifications.low-battery.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmNvbnRyb2xjZW50ZXIAAAAAAw==
					</data>
					<key>uuid</key>
					<string>078B601A-425E-4362-B49D-0D0437FBF155</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.mdmclient</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>39</integer>
			<key>bundle-id</key>
			<string>com.apple.apfsuseragent</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680150</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.apfsuseragent.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLkFQRlNVc2VyQWdlbnQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>E1905128-AF4C-4F19-947D-5C27A7EE31AB</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.iCal</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>805830678</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.iCal.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAAUY29t
					LmFwcGxlLmNhbGFjY2Vzc2QAAAAD
					</data>
					<key>uuid</key>
					<string>5C88E65B-75C2-448F-BAC1-DA3F5AB86425</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.storeassetd</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.TMHelperAgent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.appstoreagent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943703</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAATY29t
					LmFwcGxlLmFjY291bnRzZAAAAAAD
					</data>
					<key>uuid</key>
					<string>4C0875BC-F476-43A4-A15A-B5C35BD0E4ED</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>327</integer>
			<key>bundle-id</key>
			<string>com.apple.gamecenter</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>5142749198</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.gamecenter.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLmdhbWVkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>7FD67DB0-502E-4616-AD21-9620AF1C4630</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.askpermissiond</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.BluetoothUIServer</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.clock</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Clock.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAWY29t
					LmFwcGxlLm1vYmlsZXRpbWVyZAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>7AB46E17-8129-4A3E-99C7-E56B8C74FCA5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.autohotspot</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>53163327-1E5A-43E6-ABE3-C1AEBDF44F8F</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifip2pd.UserNotification</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>4453AABC-0287-4EA5-87EC-F3063DBE9B2D</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.diagnostics</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>2DD18DDE-9FDF-4696-8FEB-1F23447D5021</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.join</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>35716956-B39B-4BD1-BBAF-B4E9049604CA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.security.keychain-circle-notification</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEwAAAABAAAABgAAAAIAAAAvY29t
					LmFwcGxlLnNlY3VyaXR5LktleWNoYWluLUNp
					cmNsZS1Ob3RpZmljYXRpb24AAAAAAw==
					</data>
					<key>uuid</key>
					<string>64C8475C-9842-4AF4-BA25-14740925F857</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.followup.alert</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943703</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAATY29t
					LmFwcGxlLmZvbGxvd3VwZAAAAAAD
					</data>
					<key>uuid</key>
					<string>04557189-286E-4D36-B03F-F1C6F6B43575</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>com.apple.ReplayKitNotifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688334</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ReplayKitNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLnJlcGxheWQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>0E9B7EFA-2C3D-413A-8DBE-0E7612ED6727</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.cmio.ContinuityCamera.notifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680150</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.cmio.ContinuityCamera.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEQAAAABAAAABgAAAAIAAAAlY29t
					LmFwcGxlLmNtaW8uQ29udGludWl0eUNhcHR1
					cmVBZ2VudAAAAAAAAAM=
					</data>
					<key>uuid</key>
					<string>7D8C05B3-7EFB-429C-A71C-BDEDE96AFDD4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>262</integer>
			<key>bundle-id</key>
			<string>com.apple.ScreenTimeNotifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>5100797964</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ScreenTimeNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAZY29t
					LmFwcGxlLlNjcmVlblRpbWVBZ2VudAAAAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>616EFC00-ECF6-4CE2-932C-12994E1956CD</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.ScreenTimeEnabledNotifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>4622647444</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ScreenTimeEnabledNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAZY29t
					LmFwcGxlLlNjcmVlblRpbWVBZ2VudAAAAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>21805BA2-4F8C-41C7-8B14-0EAFEE4BB532</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>359</integer>
			<key>bundle-id</key>
			<string>com.apple.Home</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986868742</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.Home.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLmhvbWVkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>BEFC341D-5356-4D16-AFAE-EEDAAA3AECE4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.AppleMediaServicesUI.engagement.notifications.macOS</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>805830678</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.AppleMediaServicesUI.engagement.notifications.macOS.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFtc2VuZ2FnZW1lbnRkAAAAAw==
					</data>
					<key>uuid</key>
					<string>41025F49-3AE6-4213-8DB8-E1E318C49F12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>327</integer>
			<key>bundle-id</key>
			<string>com.apple.Passbook</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986868742</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.Passbook.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLmZpbmFuY2VkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>E2B577F3-777E-428A-9859-8D00414AA2EE</string>
				</dict>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLnBhc3NkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>D3751359-F8B2-4072-90BC-D3D5F8402AB3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.identityservicesd.firewall</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680142</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.identityservicesd.firewall.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAbY29t
					LmFwcGxlLmlkZW50aXR5c2VydmljZXNkAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>D1B973DF-68D6-4D47-9856-EE8B69FE4E2C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.sharingd</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLnNoYXJpbmdkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>1FD915C0-31C4-48DC-AF9F-E56A8AF49F6D</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.FaceTime</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAcY29t
					LmFwcGxlLlRlbGVwaG9ueVV0aWxpdGllcwAA
					AAM=
					</data>
					<key>uuid</key>
					<string>F0B5ED07-AD64-46D4-9220-48B49A643F0E</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>327</integer>
			<key>bundle-id</key>
			<string>com.apple.findmy</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986344454</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/FindMy.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEQAAAABAAAABgAAAAIAAAAlY29t
					LmFwcGxlLmljbG91ZC5zZWFyY2hwYXJ0eXVz
					ZXJhZ2VudAAAAAAAAAM=
					</data>
					<key>uuid</key>
					<string>7D15037F-24FD-40F4-9178-43FA0417E556</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.sharingd.continuity</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLnNoYXJpbmdkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>3F855458-75C6-4A60-A6E2-A08F7A8915FA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>261</integer>
			<key>bundle-id</key>
			<string>com.apple.AppStore</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>805830674</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.AppStore.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmFwcHN0b3JlYWdlbnQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>4062DDAA-E5C6-42FA-926E-640E9E4FA59F</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.Photos</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Photos.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLnBob3RvbGlicmFyeWQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>47671852-DB62-4FA6-BB90-07EC426E9CBE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.MobileAccessoryUpdater.fudHelperAgent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmZ1ZEhlbHBlckFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>9E8EA27E-9BFB-4F8C-BC02-6FA4F2E4DD5A</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.TV</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/TV.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAAUY29t
					LmFwcGxlLndhdGNobGlzdGQAAAAD
					</data>
					<key>uuid</key>
					<string>19A61DF1-595C-4583-B462-0E0CBEA1DD5C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.askpermission.notifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>864551062</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.askpermission.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFza3Blcm1pc3Npb25kAAAAAw==
					</data>
					<key>uuid</key>
					<string>80BEC873-2C18-401B-9FA8-5632F1751E12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.BTUserNotifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.BTUserNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAAUY29t
					LmFwcGxlLmNsb3VkcGFpcmQAAAAD
					</data>
					<key>uuid</key>
					<string>43DEE4B2-CAEB-45D6-8018-91907B23A8EF</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.SoftwareUpdateNotification</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688855</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEgAAAABAAAABgAAAAIAAAArY29t
					LmFwcGxlLlNvZnR3YXJlVXBkYXRlTm90aWZp
					Y2F0aW9uTWFuYWdlcgAAAAAD
					</data>
					<key>uuid</key>
					<string>F677D108-DA85-46A7-8DEF-E8E3B2B9E8E5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>256</integer>
			<key>bundle-id</key>
			<string>com.apple.weather</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>807411726</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Weather.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLndlYXRoZXJkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>81FC85B8-F5AF-4117-85DB-2068922F3B29</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>com.apple.tips</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680022</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.tips.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLnRpcHNkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>37BCD72E-2F3A-49FF-9560-F6AE58BB0B34</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.AppSSOKerberos.notifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327163926</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.AppSSOKerberos.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAVY29t
					LmFwcGxlLkFwcFNTT0FnZW50AAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>B82B94AA-64C0-4576-98B5-6F37DF7D15B7</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.PlatformSSO.notifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.PlatformSSO.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAVY29t
					LmFwcGxlLkFwcFNTT0FnZW50AAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>4AB1155F-6047-424E-BC60-33C30DC2B9EF</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.studentd.notifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.studentd.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLnN0dWRlbnRkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>ED462F21-89F6-4AFD-AB7A-A85376BFF197</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.mdmclient.usernotifications.v2</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.mdmclient.usernotifications.v2.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAATY29t
					LmFwcGxlLm1kbWNsaWVudAAAAAAD
					</data>
					<key>uuid</key>
					<string>7766B55B-3BE8-48C3-BB02-6ECB1A3C2AF1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.AppleAccount</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmFwcGxlYWNjb3VudGQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>8C8B8707-6B48-4218-AC59-679922525058</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.appleaccount.notifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680142</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.appleaccount.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmFwcGxlYWNjb3VudGQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>B37EFA60-96DF-41F6-8E79-D12E03495C37</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.Notes</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Notes.app</string>
			<key>push</key>
			<dict>
				<key>env</key>
				<string>production</string>
				<key>token</key>
				<data>
				</data>
				<key>topic</key>
				<string>com.apple.Notes</string>
				<key>types</key>
				<integer>9223372036854775808</integer>
			</dict>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>2</integer>
					<key>path</key>
					<string>/System/Applications/Notes.app</string>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLk5vdGVzAAAAAAM=
					</data>
					<key>uuid</key>
					<string>3098B19C-6E63-4DEE-A1BC-4AF2193E3688</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.dt.Xcode</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/Xcode.app</string>
			<key>push</key>
			<dict>
				<key>env</key>
				<string>production</string>
				<key>token</key>
				<data>
				</data>
				<key>topic</key>
				<string>com.apple.dt.Xcode</string>
				<key>types</key>
				<integer>4</integer>
			</dict>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/Xcode.app</string>
					<key>req</key>
					<data>
					+t4MAAAAAMgAAAABAAAABgAAAAcAAAAGAAAA
					DwAAAA4AAAAAAAAACiqGSIb3Y2QGAQkAAAAA
					AAAAAAAGAAAABgAAAAYAAAAPAAAADgAAAAEA
					AAAKKoZIhvdjZAYCBgAAAAAAAAAAAA4AAAAA
					AAAACiqGSIb3Y2QGAQ0AAAAAAAAAAAALAAAA
					AAAAAApzdWJqZWN0Lk9VAAAAAAABAAAACjU5
					R0FCODVFRkcAAAAAAAIAAAASY29tLmFwcGxl
					LmR0Llhjb2RlAAA=
					</data>
					<key>uuid</key>
					<string>1B0C7FFD-3DDA-4488-B32A-D0C1F2EC4E63</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>com.apple.BTMNotificationAgent</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680150</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.BTMNotificationAgent.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEQAAAABAAAABgAAAAIAAAAoY29t
					LmFwcGxlLmJhY2tncm91bmR0YXNrbWFuYWdl
					bWVudC5hZ2VudAAAAAM=
					</data>
					<key>uuid</key>
					<string>F28FAFAE-06A1-4CEE-B9FC-97F1AC4B42C4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.google.Chrome</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>8396814</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/Google Chrome.app</string>
					<key>req</key>
					<data>
					+t4MAAAAAQwAAAABAAAABgAAAAYAAAAGAAAA
					BgAAAAcAAAAHAAAABwAAAAIAAAARY29tLmdv
					b2dsZS5DaHJvbWUAAAAAAAACAAAAFmNvbS5n
					b29nbGUuQ2hyb21lLmJldGEAAAAAAAIAAAAV
					Y29tLmdvb2dsZS5DaHJvbWUuZGV2AAAAAAAA
					AgAAABhjb20uZ29vZ2xlLkNocm9tZS5jYW5h
					cnkAAAAPAAAADgAAAAEAAAAKKoZIhvdjZAYC
					BgAAAAAAAAAAAA4AAAAAAAAACiqGSIb3Y2QG
					AQ0AAAAAAAAAAAALAAAAAAAAAApzdWJqZWN0
					Lk9VAAAAAAABAAAACkVRSFhaOE04QVYAAA==
					</data>
					<key>uuid</key>
					<string>E145ACA7-3520-4E12-9709-37C944E49D70</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.google.Chrome.framework.AlertNotificationService</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>8396822</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/110.0.5481.77/Helpers/Google Chrome Helper (Alerts).app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/109.0.5414.119/Helpers/Google Chrome Helper (Alerts).app</string>
					<key>req</key>
					<data>
					+t4MAAAAAMAAAAABAAAABgAAAAYAAAAGAAAA
					BgAAAAIAAAA0Y29tLmdvb2dsZS5DaHJvbWUu
					ZnJhbWV3b3JrLkFsZXJ0Tm90aWZpY2F0aW9u
					U2VydmljZQAAAA8AAAAOAAAAAQAAAAoqhkiG
					92NkBgIGAAAAAAAAAAAADgAAAAAAAAAKKoZI
					hvdjZAYBDQAAAAAAAAAAAAsAAAAAAAAACnN1
					YmplY3QuT1UAAAAAAAEAAAAKRVFIWFo4TThB
					VgAA
					</data>
					<key>uuid</key>
					<string>40112E70-A338-4FC4-A423-659C08349FCA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.logitech.manager.daemon</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>8396822</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/Logi Options.app/Contents/Support/LogiMgrDaemon.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/Logi Options.app/Contents/Support/LogiMgrDaemon.app</string>
					<key>req</key>
					<data>
					+t4MAAAAAKgAAAABAAAABgAAAAIAAAAbY29t
					LmxvZ2l0ZWNoLm1hbmFnZXIuZGFlbW9uAAAA
					AAYAAAAPAAAABgAAAA4AAAABAAAACiqGSIb3
					Y2QGAgYAAAAAAAAAAAAGAAAADgAAAAAAAAAK
					KoZIhvdjZAYBDQAAAAAAAAAAAAsAAAAAAAAA
					CnN1YmplY3QuT1UAAAAAAAEAAAAKUUVENFZW
					UFpXQQAA
					</data>
					<key>uuid</key>
					<string>495EF182-214A-4733-86F1-88F0FF29246D</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>us.zoom.xos</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>276832270</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/zoom.us.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/zoom.us.app</string>
					<key>req</key>
					<data>
					+t4MAAAAAJgAAAABAAAABgAAAAIAAAALdXMu
					em9vbS54b3MAAAAABgAAAA8AAAAGAAAADgAA
					AAEAAAAKKoZIhvdjZAYCBgAAAAAAAAAAAAYA
					AAAOAAAAAAAAAAoqhkiG92NkBgENAAAAAAAA
					AAAACwAAAAAAAAAKc3ViamVjdC5PVQAAAAAA
					AQAAAApCSjRIQUFCOUIzAAA=
					</data>
					<key>uuid</key>
					<string>B9C4EA98-EE14-4DA4-BB11-BC9EB9BBAEFD</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.shortcuts</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680142</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Shortcuts.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAWY29t
					LmFwcGxlLnNpcmlhY3Rpb25zZAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>0BBB356F-D438-4135-8DF0-E9ADCB75AB13</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.Maps</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268959758</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Maps.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAOY29t
					LmFwcGxlLk1hcHMAAAAAAAM=
					</data>
					<key>uuid</key>
					<string>5C1B9400-F74E-4006-B35F-ECC9F38558A9</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.EscrowSecurityAlert</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADwAAAABAAAABgAAAAIAAAAdY29t
					LmFwcGxlLkVzY3Jvd1NlY3VyaXR5QWxlcnQA
					AAAAAAAD
					</data>
					<key>uuid</key>
					<string>2E170EA0-11E9-4231-9251-2D2C2BF14661</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.tinyspeck.slackmacgap</string>
			<key>content_visibility</key>
			<integer>1</integer>
			<key>flags</key>
			<integer>41951499</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/Slack.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/Slack.app</string>
					<key>req</key>
					<data>
					+t4MAAAAANAAAAABAAAABgAAAAcAAAAGAAAA
					DwAAAA4AAAAAAAAACiqGSIb3Y2QGAQkAAAAA
					AAAAAAAGAAAABgAAAAYAAAAPAAAADgAAAAEA
					AAAKKoZIhvdjZAYCBgAAAAAAAAAAAA4AAAAA
					AAAACiqGSIb3Y2QGAQ0AAAAAAAAAAAALAAAA
					AAAAAApzdWJqZWN0Lk9VAAAAAAABAAAACkJR
					UjgyUkJCSEwAAAAAAAIAAAAZY29tLnRpbnlz
					cGVjay5zbGFja21hY2dhcAAAAA==
					</data>
					<key>uuid</key>
					<string>D57739CC-117F-4B97-A02A-1F0736AFEB03</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>WhatsApp</string>
			<key>content_visibility</key>
			<integer>1</integer>
			<key>flags</key>
			<integer>41951497</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/Applications/WhatsApp.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>path</key>
					<string>/Applications/WhatsApp.app/Contents/Frameworks/WhatsApp Helper (Renderer).app</string>
					<key>req</key>
					<data>
					+t4MAAAAAJwAAAABAAAABgAAAAIAAAAPV2hh
					dHNBcHAtSGVscGVyAAAAAAYAAAAPAAAABgAA
					AA4AAAABAAAACiqGSIb3Y2QGAgYAAAAAAAAA
					AAAGAAAADgAAAAAAAAAKKoZIhvdjZAYBDQAA
					AAAAAAAAAAsAAAAAAAAACnN1YmplY3QuT1UA
					AAAAAAEAAAAKNTdUOTIzN0ZOMwAA
					</data>
					<key>uuid</key>
					<string>5ED71856-6471-40A5-8E7D-8C10DD11A98B</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.noticeboard</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943703</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLm5iYWdlbnQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>4FFDBFEC-D32D-45CA-B466-35159544538B</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.USBAgent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLlVTQkFnZW50AAAAAAAD
					</data>
					<key>uuid</key>
					<string>D08ACF0A-0825-4205-99D6-EE5CCF232A43</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.notificationcenter.askpermissions</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>310383127</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.iChat</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41943054</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAbY29t
					LmFwcGxlLmlkZW50aXR5c2VydmljZXNkAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>67954506-9774-4990-B4DD-F9F8ADEBA42C</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>content_visibility</key>
	<integer>2</integer>
	<key>dnd_prefs</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGBggICFtkbmRNaXJyb3JlZF8QD2RuZERpc3BsYXlTbGVlcF8Q
	HnJlcGVhdGVkRmFjZXRpbWVDYWxsc0JyZWFrc0RORF5kbmREaXNwbGF5TG9ja18QE2Zh
	Y2V0aW1lQ2FuQnJlYWtETkQJCQgICAgTHzFSYXd4eXp7AAAAAAAAAQEAAAAAAAAACwAA
	AAAAAAAAAAAAAAAAAHw=
	</data>
	<key>sort_order</key>
	<integer>0</integer>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
