<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FamilyMarqueeDarkMode</key>
	<string>file:/Users/adam.dewberry/Library/Caches/FamilyCircle/FamilyMarqueeDarkMode-B76B6DCA-70E5-4CD8-99AD-9C28B6BFB7A5@2x.png</string>
	<key>FamilyMarqueeLightMode</key>
	<string>file:/Users/adam.dewberry/Library/Caches/FamilyCircle/FamilyMarqueeLightMode-B76B6DCA-70E5-4CD8-99AD-9C28B6BFB7A5@2x.png</string>
</dict>
</plist>
