<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>segment.anonymousId</key>
	<string>DDD1746D-AA23-4485-B60A-D5621E2C6FF5</string>
	<key>segment.events</key>
	<integer>7</integer>
	<key>segment.settings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGSElcZWRnZUZ1bmN0aW9uXGludGVncmF0aW9uc18QEm1pZGRs
	ZXdhcmVTZXR0aW5nc1RwbGFu0NIHCAkaWlNlZ21lbnQuaW9YTWl4cGFuZWzVCgsMDQ4P
	EBYXGVZhcGlLZXlfEA92ZXJzaW9uU2V0dGluZ3NfEBJhZGRCdW5kbGVkTWV0YWRhdGFf
	EBV1bmJ1bmRsZWRJbnRlZ3JhdGlvbnNfEBVtYXliZUJ1bmRsZWRDb25maWdJZHNfECA4
	TkZKU0t5Y1ZFWW5MOFNENUVzQ1pWb1VDZUZIcm9vedIREhMUV3ZlcnNpb25eY29tcG9u
	ZW50VHlwZXNVNC40LjehFVdicm93c2VyCaIYCFlBbXBsaXR1ZGXQ3xAVGxwdHh8gISIj
	JCUmJwsoKSorLC0uLzAxMjMWNRYVNy8vOjtBL0MvLxYvXxAVdHJhY2tDYXRlZ29yaXpl
	ZFBhZ2VzXxAPc3VwZXJQcm9wZXJ0aWVzW3BlcnNpc3RlbmNlXxAVZ3JvdXBJZGVudGlm
	aWVyVHJhaXRzXnByb3BJbmNyZW1lbnRzXxAUY3Jvc3NTdWJkb21haW5Db29raWVac291
	cmNlTmFtZV8QFXNldEFsbFRyYWl0c0J5RGVmYXVsdFR0eXBlXxAQcGVvcGxlUHJvcGVy
	dGllc18QG2VuYWJsZUV1cm9wZWFuVW5pb25FbmRwb2ludFxzZWN1cmVDb29raWVVdG9r
	ZW5eYnVuZGxpbmdTdGF0dXNfEBVjb25zb2xpZGF0ZWRQYWdlQ2FsbHNfEA9ldmVudElu
	Y3JlbWVudHNddHJhY2tBbGxQYWdlc18QFWxlZ2FjeVN1cGVyUHJvcGVydGllc1ZwZW9w
	bGVfEA90cmFja05hbWVkUGFnZXMIoFZjb29raWWgoAlQCaAICF8QIGFkODM5NTk4NmVi
	N2Y4YzcwYTc5NDlhZTZkYWI3NjRm0hESPD1VMy4yLjGkFT4/QFNpb3NXYW5kcm9pZFZz
	ZXJ2ZXJZdW5idW5kbGVkCKAICAkI0NNKS0xNVFdVdHJhY2tVZ3JvdXBYaWRlbnRpZnnR
	Tk9ZX19kZWZhdWx00lBRUhZcaW50ZWdyYXRpb25zV2VuYWJsZWTQCdFOVdFRFgnRTljR
	URYJAAgAEQAeACsAQABFAEYASwBWAF8AagBxAIMAmACwAMgA6wDwAPgBBwENAQ8BFwEY
	ARsBJQEmAVMBawF9AYkBoQGwAccB0gHqAe8CAgIgAi0CMwJCAloCbAJ6ApICmQKrAqwC
	rQK0ArUCtgK3ArgCuQK6ArsCvALfAuQC6gLvAvMC+wMCAwwDDQMOAw8DEAMRAxIDEwMa
	AyADJgMvAzIDPANBA04DVgNXA1gDWwNeA18DYgNlAAAAAAAAAgEAAAAAAAAAWgAAAAAA
	AAAAAAAAAAAAA2Y=
	</data>
</dict>
</plist>
