<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>familySyncedName</key>
	<string>Adam’s MacBook Pro</string>
	<key>frPruneLastSecs</key>
	<real>697815928.22071803</real>
	<key>pdFriendSyncStart</key>
	<real>697604960.94542098</real>
</dict>
</plist>
