<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTFontAndColorLastUpdatedToolsVersion</key>
	<string>14.2</string>
	<key>DVTIgnoredDevices</key>
	<array/>
	<key>IBAppliesAutoResizingRulesWhileResizing</key>
	<false/>
	<key>IBPreferencesMigrated</key>
	<true/>
	<key>IDEAnalyticsMetricsNotifications.AnalyticsMetricsNotificationsController.lastRefreshAttemptDate</key>
	<date>2023-02-06T12:03:25Z</date>
	<key>IDEAppStatisticsXcodeVersionMetricsHistoryStorage</key>
	<dict>
		<key>14C18</key>
		<date>2023-02-06T23:03:29Z</date>
	</dict>
	<key>IDEDefaultPrimaryEditorFrameSizeForPaths</key>
	<dict>
		<key>file:///Users/adam.dewberry/makefile</key>
		<dict>
			<key>height</key>
			<real>750</real>
			<key>width</key>
			<real>1311</real>
		</dict>
	</dict>
	<key>IDEExtensionsBuiltPriorToXcode12</key>
	<array/>
	<key>IDEKeyBindingCurrentPreferenceSet</key>
	<string>Default.idekeybindings</string>
	<key>IDEKeyBindingExcludedPreferenceSet</key>
	<array>
		<string>Default</string>
	</array>
	<key>IDELastLSRegisterHashes</key>
	<dict>
		<key>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</key>
		<data>
		ZYGHX5pYskqHyaOl1jJrqioksuA=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/FileMerge.app</key>
		<data>
		sq43YYfq8uKVpOUq6cwkMJ5oqbA=
		</data>
		<key>/Applications/Xcode.app/Contents/Applications/Instruments.app</key>
		<data>
		NmVftP6Q7CFEQVF3m6lbA7CsFAk=
		</data>
		<key>/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app</key>
		<data>
		ISYdmA8rbJ14kN2cdFEfuyVuS6k=
		</data>
		<key>/System/Library/CoreServices/CoreTypes.bundle</key>
		<data>
		ffRG8WYw8iUPVShXivRiZP0o5oE=
		</data>
	</dict>
	<key>IDELastShownWhatsNewContentRevision</key>
	<integer>1</integer>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-appletvos</key>
	<array>
		<string>20K67</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-iphoneos</key>
	<array>
		<string>20C52</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-macosx</key>
	<array>
		<string>22C55</string>
	</array>
	<key>IDEPlatformsFirstLaunchPresentedSDKVersions-watchos</key>
	<array>
		<string>20S71</string>
	</array>
	<key>IDEPlatformsFirstLaunchSelected-appletvos</key>
	<false/>
	<key>IDEPlatformsFirstLaunchSelected-iphoneos</key>
	<true/>
	<key>IDEPlatformsFirstLaunchSelected-watchos</key>
	<false/>
	<key>IDERecentEditorDocuments</key>
	<array>
		<data>
		Ym9va5wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAjAIAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGFkYW0uZGV3YmVycnkA
		AAAIAAAAAQEAAG1ha2VmaWxlDAAAAAEGAAAEAAAAFAAAACwAAAAIAAAABAMA
		AJo4AAAAAAAACAAAAAQDAABlzAMAAAAAAAgAAAAEAwAAl/YSAAAAAAAMAAAA
		AQYAAFAAAABgAAAAcAAAAAgAAAAABAAAQcTIhmMtgFkYAAAAAQIAAAEAAAAA
		AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
		AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
		AABQoRtzAAAACAAAAAAEAABBxIM6JIAAACQAAAABAQAAMjU4MjUzQTEtQTZC
		QS00ODJGLUFCN0EtRENENDhCMjE5NzRCGAAAAAECAACBAAAAAQAAAO8TAAAB
		AAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxE
		b2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAADAwAAAwAAAM8AAAABAgAAMGZj
		MmMxZmU5ZGViYTA2MDU4ZDkzNzMwNDI1YjY1ZTUxZjUyOThmZjhjM2Q0YzM0
		M2Y3ZTkwMTc3YWMwZDc4MzswMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAw
		MDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFk
		LXdyaXRlOzAxOzAxMDAwMDBmOzAwMDAwMDAwMDAxMmY2OTc7MDE7L3VzZXJz
		L2FkYW0uZGV3YmVycnkvbWFrZWZpbGUAANgAAAD+////AQAAAAAAAAARAAAA
		BBAAADwAAAAAAAAABRAAAIAAAAAAAAAAEBAAAKQAAAAAAAAAQBAAAJQAAAAA
		AAAAAiAAAHABAAAAAAAABSAAAOAAAAAAAAAAECAAAPAAAAAAAAAAESAAACQB
		AAAAAAAAEiAAAAQBAAAAAAAAEyAAABQBAAAAAAAAICAAAFABAAAAAAAAMCAA
		AHwBAAAAAAAAAcAAAMQAAAAAAAAAEcAAABQAAAAAAAAAEsAAANQAAAAAAAAA
		gPAAALQBAAAAAAAAhAEAgKgBAAAAAAAA
		</data>
	</array>
	<key>IDESourceControlKnownSSHHostsDefaultsKey</key>
	<dict/>
	<key>IDE_CA_Daily_LastReport</key>
	<real>697377679.69986606</real>
	<key>NSWindow Frame IDEDownloadProgressWindow</key>
	<string>1096 833 400 100 0 0 1728 1079 </string>
	<key>XCFontAndColorCurrentDarkTheme</key>
	<string>Default (Dark).xccolortheme</string>
</dict>
</plist>
