<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1675784776</integer>
	<key>GKActiveEnvironmentKeyV2</key>
	<integer>5</integer>
	<key>GKLastPreferredSystemLanguage</key>
	<string>en-GB</string>
	<key>GKLastProtocolVersionUsedKeyV2</key>
	<string>5.14.21.5.13.19.5.5.2</string>
	<key>GKLastPushTokenDateKey</key>
	<date>2023-02-11T19:12:02Z</date>
	<key>GKLastPushTokenEnvironment</key>
	<integer>5</integer>
	<key>GKLastPushTokenKey</key>
	<data>
	6c/tcTbW8tT1syYZIaX5hh1iaW0FF6Wyi8rrs6s8UJg=
	</data>
	<key>GKLastPushTokenPlayerID</key>
	<string>U:32d6b1dbbfb129508968ac161e65f007</string>
	<key>GKLoginCancelled</key>
	<integer>0</integer>
	<key>GKPushEnvironmentKeyV2</key>
	<integer>2</integer>
	<key>GKPushTokenKeyV2</key>
	<data>
	6c/tcTbW8tT1syYZIaX5hh1iaW0FF6Wyi8rrs6s8UJg=
	</data>
	<key>GKStoreFrontIdentifier</key>
	<string>143444-2,42</string>
	<key>GKURLPatternCacheBagURLUserDefaultsKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJX
	TlMuYmFzZVYkY2xhc3NbTlMucmVsYXRpdmWAAIADgAJfEEBodHRwczovL2luaXQuZ2Mu
	YXBwbGUuY29tL1dlYk9iamVjdHMvR0tJbml0LndvYS93YS9nZXRCYWc/aXg9a2Zz0hUW
	FxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1VOU1VSTKIXGVhOU09iamVjdAgRGiQpMjdJTFFT
	WF5lbXSAgoSGyc7Z4ujrAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAAAPQ=
	</data>
	<key>GKURLPatternCacheExpirationDateUserDefaultsKey</key>
	<date>2023-02-11T20:12:01Z</date>
	<key>natType</key>
	<integer>2</integer>
	<key>natTypeCache</key>
	<dict>
		<key>IPv4.Router=172.16.58.1;IPv4.RouterHardwareAddress=1c:9c:8c:32:f3:00</key>
		<dict>
			<key>natFlags</key>
			<integer>204</integer>
			<key>natFlagsLastUpdated</key>
			<date>2023-02-07T11:10:02Z</date>
		</dict>
		<key>IPv4.Router=172.16.7.1;IPv4.RouterHardwareAddress=1c:9c:8c:32:f3:00</key>
		<dict>
			<key>natFlags</key>
			<integer>204</integer>
			<key>natFlagsLastUpdated</key>
			<date>2023-02-06T12:00:02Z</date>
		</dict>
		<key>IPv4.Router=192.168.1.1;IPv4.RouterHardwareAddress=a0:b5:3c:08:03:af</key>
		<dict>
			<key>natFlags</key>
			<integer>208</integer>
			<key>natFlagsLastUpdated</key>
			<date>2023-02-11T19:13:02Z</date>
		</dict>
	</dict>
</dict>
</plist>
