<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001440-08-096338a8-db1b-4ef6-bba6-c5c93c82d8a5-com.apple.systempreferences-mail.custom-domains.purchase</key>
	<data>
	eyJnZW9JbmZvIjp7ImlzQmV0YSI6ZmFsc2UsImNhY2hlVGlsbCI6IjIwMjMtMDItMTFU
	MTk6MzE6MjVaIiwiZ2VvQ2xhc3NpZmljYXRpb24iOiJhdmFpbGFibGUiLCJmZWF0dXJl
	S2V5IjoibWFpbC5jdXN0b20tZG9tYWlucy5wdXJjaGFzZSJ9LCJhbHREU0lEIjoiMDAx
	NDQwLTA4LTA5NjMzOGE4LWRiMWItNGVmNi1iYmE2LWM1YzkzYzgyZDhhNSJ9
	</data>
	<key>001440-08-096338a8-db1b-4ef6-bba6-c5c93c82d8a5-com.apple.systempreferences-mail.hide-my-email.create</key>
	<data>
	eyJnZW9JbmZvIjp7ImlzQmV0YSI6ZmFsc2UsImNhY2hlVGlsbCI6IjIwMjMtMDItMTFU
	MTk6MzE6MjVaIiwiZ2VvQ2xhc3NpZmljYXRpb24iOiJhdmFpbGFibGUiLCJmZWF0dXJl
	S2V5IjoibWFpbC5oaWRlLW15LWVtYWlsLmNyZWF0ZSJ9LCJhbHREU0lEIjoiMDAxNDQw
	LTA4LTA5NjMzOGE4LWRiMWItNGVmNi1iYmE2LWM1YzkzYzgyZDhhNSJ9
	</data>
	<key>001440-08-096338a8-db1b-4ef6-bba6-c5c93c82d8a5-com.apple.systempreferences-networking.privacy.subscriber</key>
	<data>
	eyJnZW9JbmZvIjp7ImlzQmV0YSI6ZmFsc2UsImNhY2hlVGlsbCI6IjIwMjMtMDItMTFU
	MTk6MzE6MjVaIiwiZ2VvQ2xhc3NpZmljYXRpb24iOiJhdmFpbGFibGUiLCJmZWF0dXJl
	S2V5IjoibmV0d29ya2luZy5wcml2YWN5LnN1YnNjcmliZXIifSwiYWx0RFNJRCI6IjAw
	MTQ0MC0wOC0wOTYzMzhhOC1kYjFiLTRlZjYtYmJhNi1jNWM5M2M4MmQ4YTUifQ==
	</data>
</dict>
</plist>
