<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>autohide-delay</key>
	<real>0.0</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>697835784.56075001</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>697373120.90397298</real>
	<key>loc</key>
	<string>en_GB:(null)</string>
	<key>mod-count</key>
	<integer>6</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwg
				U3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAACeOAAAAAAAAAgAAAAEAwAAglocAAAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxLY6OgAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcSDOiSAAAAk
				AAAAAQEAADI1ODI1M0ExLUE2QkEtNDgyRi1BQjdBLURD
				RDQ4QjIxOTc0QhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>GB</string>
	<key>show-recents</key>
	<false/>
	<key>static-only</key>
	<true/>
	<key>tilesize</key>
	<integer>96</integer>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
