<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleLocale</key>
	<string>en_GB</string>
	<key>Sig_AppleLocale</key>
	<string>DirectoryTools(826): 2023-02-06 02:20:11 (PST)</string>
</dict>
</plist>
