<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSCloudKitRecordZoneChangeTokens</key>
	<dict>
		<key>private:IdentifierZone</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUk
		bnVsbNINDg8QViRjbGFzc18QD0NoYW5nZVRva2VuRGF0YYADgAJPEC8fChAS
		DAAAMM0dNJBvAAAAARgBGAAiFgjIk62m6aj3qKgBEJf4gtK954zDowEoANIT
		FBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEBNDS1NlcnZlckNoYW5nZVRva2Vu
		ohUXWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmNqfH6AsrfCy+HkAAAAAAAAAQEA
		AAAAAAAAGAAAAAAAAAAAAAAAAAAAAO0=
		</data>
	</dict>
	<key>AMSDeviceBiometricsState</key>
	<integer>1</integer>
	<key>AMSDidSetUpServerDataCache</key>
	<true/>
	<key>AMSFPCertExpiration</key>
	<date>2023-02-08T12:59:08Z</date>
	<key>AMSIncludeFullRequestInHARLogging</key>
	<false/>
	<key>AMSIncludeFullResponseInHARLogging</key>
	<false/>
	<key>AMSJSVersionMap</key>
	<dict>
		<key>internal</key>
		<string>21.1.8</string>
		<key>journeys</key>
		<string>22.7.0</string>
	</dict>
	<key>AMSMediaTokens</key>
	<dict>
		<key>com.apple.amp.journeys</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXGyEi
		VSRudWxs1Q0ODxAREhMUFRZWJGNsYXNzUWVRbFF2UXSABYACI0FDxoAAAAAA
		CYAE0hgNGRpXTlMudGltZSNBxNxMfs7U5YAD0hwdHh9aJGNsYXNzbmFtZVgk
		Y2xhc3Nlc1ZOU0RhdGWiHiBYTlNPYmplY3RfEM5leUpyYVdRaU9pSlhTRk5D
		U0RORVNWWTJJaXdpWVd4bklqb2lSVk15TlRZaWZRLmV5SnBjM01pT2lKSlZq
		UXdXbGc0T1VFM0lpd2lhV0YwSWpveE5qYzFOamM0T0RRMUxDSmxlSEFpT2pF
		Mk56Z3lOekE0TkRWOS5fb29EY3ZIS1EycGdQOFhUMWpjdGRxV1B4aF9XYmdP
		WUJiRGdIWVZjY0pEcjgtQXVBdVJyVWlLZzhWYzJwY3ZnV0R0Sm1rMXZYQ2dr
		Q21CMUlMb3VKd9IcHSMkXUFNU01lZGlhVG9rZW6iJSBdQU1TTWVkaWFUb2tl
		bgAIABEAGgAkACkAMgA3AEkATABRAFMAWgBgAGsAcgB0AHYAeAB6AHwAfgCH
		AIgAigCPAJcAoACiAKcAsgC7AMIAxQDOAZ8BpAGyAbUAAAAAAAACAQAAAAAA
		AAAmAAAAAAAAAAAAAAAAAAABww==
		</data>
	</dict>
	<key>AMSSamplingSession-TLSSessionTickets</key>
	<dict>
		<key>date</key>
		<date>2023-02-11T19:12:01Z</date>
		<key>duration</key>
		<real>1800</real>
		<key>result</key>
		<true/>
	</dict>
	<key>AMSSamplingSession-xp_amp_appstore_log:qJO7Vty2LO98sz+eud1os9HfnMs</key>
	<dict>
		<key>date</key>
		<date>2023-02-06T11:13:06Z</date>
		<key>duration</key>
		<real>60000</real>
		<key>result</key>
		<false/>
	</dict>
	<key>AMSStorefrontSuffixes</key>
	<dict/>
</dict>
</plist>
