<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>library-bookmark</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzAIA
	AAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGFkYW0uZGV3YmVycnkAAAAGAAAAAQEAAE1v
	dmllcwAAAgAAAAEBAABUVgAAFAAAAAEBAABUViBMaWJyYXJ5LnR2bGlicmFyeRQAAAAB
	BgAABAAAABQAAAAsAAAAPAAAAEgAAAAIAAAABAMAAJo4AAAAAAAACAAAAAQDAABlzAMA
	AAAAAAgAAAAEAwAAlMwDAAAAAAAIAAAABAMAAI4lBAAAAAAACAAAAAQDAACPJQQAAAAA
	ABQAAAABBgAAgAAAAJAAAACgAAAAsAAAAMAAAAAIAAAAAAQAAEHEyIZbgAAAGAAAAAEC
	AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
	cwAAAAgAAAAABAAAQcSDOiSAAAAkAAAAAQEAADI1ODI1M0ExLUE2QkEtNDgyRi1BQjdB
	LURDRDQ4QjIxOTc0QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADlAAAAAQIAAGFkZTIyNTgwYzA5NzFhOTg0MDM2Zjk1NDcwNjJl
	NTg4MzU2OWNkZmY1ZmE3OTY5OGMzZmFiOWNmNWFjMGU2YmU7MDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
	b3gucmVhZC13cml0ZTswMTswMTAwMDAxMDswMDAwMDAwMDAwMDQyNThmOzAxOy91c2Vy
	cy9hZGFtLmRld2JlcnJ5L21vdmllcy90di90diBsaWJyYXJ5LnR2bGlicmFyeQAAAADM
	AAAA/v///wEAAAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAADQAAAAAAAAABAQAAD8AAAA
	AAAAAEAQAADsAAAAAAAAAAIgAADIAQAAAAAAAAUgAAA4AQAAAAAAABAgAABIAQAAAAAA
	ABEgAAB8AQAAAAAAABIgAABcAQAAAAAAABMgAABsAQAAAAAAACAgAACoAQAAAAAAADAg
	AADUAQAAAAAAAAHAAAAcAQAAAAAAABHAAAAUAAAAAAAAABLAAAAsAQAAAAAAAIDwAADc
	AQAAAAAAAA==
	</data>
	<key>library-url</key>
	<string>file:///Users/adam.dewberry/Movies/TV/TV%20Library.tvlibrary/</string>
	<key>media-folder-bookmark</key>
	<data>
	Ym9va8QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAIA
	AAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGFkYW0uZGV3YmVycnkAAAAGAAAAAQEAAE1v
	dmllcwAAAgAAAAEBAABUVgAADwAAAAEBAABNZWRpYS5sb2NhbGl6ZWQAFAAAAAEGAAAE
	AAAAFAAAACwAAAA8AAAASAAAAAgAAAAEAwAAmjgAAAAAAAAIAAAABAMAAGXMAwAAAAAA
	CAAAAAQDAACUzAMAAAAAAAgAAAAEAwAAjiUEAAAAAAAIAAAABAMAAJAlBAAAAAAAFAAA
	AAEGAAB8AAAAjAAAAJwAAACsAAAAvAAAAAgAAAAABAAAQcTIhlv99r0YAAAAAQIAAAIA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAA
	CAAAAAAEAABBxIM6JIAAACQAAAABAQAAMjU4MjUzQTEtQTZCQS00ODJGLUFCN0EtRENE
	NDhCMjE5NzRCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAOAAAAABAgAANjhmNDUxYTViMjkyZDZjYzY0ZjUyMTRjMjZlZWI3YWM2
	MjUxNjNlYjM3ODMzZGQ2NzU4Y2UzNTNlNjRjYTZjNzswMDswMDAwMDAwMDswMDAwMDAw
	MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
	ZWFkLXdyaXRlOzAxOzAxMDAwMDEwOzAwMDAwMDAwMDAwNDI1OTA7MDE7L3VzZXJzL2Fk
	YW0uZGV3YmVycnkvbW92aWVzL3R2L21lZGlhLmxvY2FsaXplZADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAABgAAAAAAAAAAUQAADMAAAAAAAAABAQAAD4AAAAAAAAAEAQAADoAAAA
	AAAAAAIgAADEAQAAAAAAAAUgAAA0AQAAAAAAABAgAABEAQAAAAAAABEgAAB4AQAAAAAA
	ABIgAABYAQAAAAAAABMgAABoAQAAAAAAACAgAACkAQAAAAAAADAgAADQAQAAAAAAAAHA
	AAAYAQAAAAAAABHAAAAUAAAAAAAAABLAAAAoAQAAAAAAAIDwAADYAQAAAAAAAA==
	</data>
	<key>media-folder-url</key>
	<string>file:///Users/adam.dewberry/Movies/TV/Media.localized/</string>
</dict>
</plist>
