<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WirelessSSID</key>
	<dict>
		<key>Industrious Secure</key>
		<dict>
			<key>0e2badb342c3f7968ccae0d4eed21d9ec70d5c22</key>
			<data>
			YnBsaXN0MDChAdECA1pTSEExRGlnZXN0TxAUDiuts0LD95aMyuDU
			7tIdnscNXCIICg0YAAAAAAAAAQEAAAAAAAAABAAAAAAAAAAAAAAA
			AAAAAC8=
			</data>
		</dict>
	</dict>
</dict>
</plist>
