<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame ProcessPanel</key>
	<string>151 246 338 313 0 0 1312 818 </string>
	<key>TALLogoutReason</key>
	<string>Restart</string>
	<key>oneTimeSSMigrationComplete</key>
	<true/>
</dict>
</plist>
