<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1676142958</integer>
	<key>CloudConfigurationPath</key>
	<string>/System/Library/PrivateFrameworks/ReminderKit.framework/Versions/A/Resources/CloudConfigurations/Normal.plist</string>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>53353cf9d1ac5bcc265191ef779619a1dfafeb8e3af841a23ba16ddc4688ec89</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwXVSRu
		dWxs1g0ODxAREhMTFBMVFl1BY2NvdW50U3RhdHVzXxAkRGV2aWNlVG9EZXZp
		Y2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxAcQWNjb3VudEluZm9WYWxpZGF0
		aW9uQ291bnRlcl8QEEFjY291bnRQYXJ0aXRpb25fEBNIYXNWYWxpZENyZWRl
		bnRpYWxzViRjbGFzcxABEJ0JgALSGBkaG1okY2xhc3NuYW1lWCRjbGFzc2Vz
		XUNLQWNjb3VudEluZm+iGhxYTlNPYmplY3QACAARABoAJAApADIANwBJAEwA
		UQBTAFcAXQBqAHgAnwC+ANEA5wDuAPAA8gDzAPUA+gEFAQ4BHAEfAAAAAAAA
		AgEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAASg=
		</data>
	</dict>
	<key>CloudKitAccountStatus</key>
	<dict>
		<key>A51A17F6-6745-4AA3-81B1-94BDA121ED30</key>
		<integer>1</integer>
	</dict>
	<key>CloudKitAccountZonesNeedingFetchChanges</key>
	<dict/>
	<key>CloudKitLastSyncSinceInternetReachable</key>
	<real>697829380.31479096</real>
	<key>SubscriptionIDs</key>
	<dict>
		<key>A51A17F6-6745-4AA3-81B1-94BDA121ED30</key>
		<array>
			<string>DatabaseSubscription-Private</string>
			<string>DatabaseSubscription-Shared</string>
		</array>
	</dict>
	<key>SubscriptionIDsLastModifiedDate</key>
	<real>697373600.90057194</real>
	<key>cloudKitSchemaCatchUpSyncSchedulingState</key>
	<integer>0</integer>
	<key>isDatabaseMigrated</key>
	<true/>
	<key>lastCloudConfigurationDownload</key>
	<date>2023-02-10T21:05:19Z</date>
	<key>lastDatabaseMigrationSystemBuildVersion</key>
	<string>22A8380</string>
	<key>lastExtraneousAlarmsProcessedDate</key>
	<date>2023-02-06T22:51:26Z</date>
	<key>lastSuggestedAttributesAutoTrainingToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBEfICEiIyctLjQ5PEJD
	RkxNUFZXVSRudWxs0g0ODxBWJGNsYXNzXxAXcGVyc2lzdGVudEhpc3RvcnlUb2tlbnOA
	FYAC0xITDRQZHldOUy5rZXlzWk5TLm9iamVjdHOkFRYXGIADgASABYAGpBobHB2AB4AM
	gA+AEoAKXxAkMzdCOEJCNzMtQUMwNC00RDNDLTk5RkEtMTBFRDdERjI5RUY0XxAkNkY5
	MDdBRTgtNUYyNC00MEZGLUE5QTItMzAxOTYyNzczQThCXxAkM0NGMzE0RTMtN0EwMy00
	RjBCLUJEQTItQTIyOEI4MkZBM0FDXxAkNzdBMTE3QjgtNkIzOS00NTQ1LUI5MjUtOTRB
	QjgwMjc4OUI40g0kJSZfECJOU1BlcnNpc3RlbnRIaXN0b3J5VG9rZW5EaWN0aW9uYXJ5
	gAuACNMSEw0oKh6hFYADoSuACYAKEALSLzAxMlokY2xhc3NuYW1lWCRjbGFzc2VzXE5T
	RGljdGlvbmFyeaIxM1hOU09iamVjdNIvMDU2XxAZX05TUGVyc2lzdGVudEhpc3RvcnlU
	b2tlbqM3ODNfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuXxAYTlNQZXJzaXN0ZW50
	SGlzdG9yeVRva2Vu0g0kJTuAC4AN0xITDT0/HqEWgAShQIAOgAoQAdINJCVFgAuAENMS
	Ew1HSR6hF4AFoUqAEYAKEAPSDSQlT4ALgBPTEhMNUVMeoRiABqFUgBSAChAe0i8wWFlf
	EBNSRU1GZXRjaFJlc3VsdFRva2VuolozXxATUkVNRmV0Y2hSZXN1bHRUb2tlbgAIABEA
	GgAkACkAMgA3AEkATABRAFMAbAByAHcAfgCYAJoAnACjAKsAtgC7AL0AvwDBAMMAyADK
	AMwAzgDQANIA+QEgAUcBbgFzAZgBmgGcAaMBpQGnAakBqwGtAa8BtAG/AcgB1QHYAeEB
	5gICAgYCIgI9AkICRAJGAk0CTwJRAlMCVQJXAlkCXgJgAmICaQJrAm0CbwJxAnMCdQJ6
	AnwCfgKFAocCiQKLAo0CjwKRApYCrAKvAAAAAAAAAgEAAAAAAAAAWwAAAAAAAAAAAAAA
	AAAAAsU=
	</data>
	<key>lastSyncPoll</key>
	<date>2023-02-06T10:20:22Z</date>
	<key>preferredDefaultListID</key>
	<string>x-apple-reminderkit://REMCDList/3C8C2A71-84BF-4C87-8EFD-BB4827650D15</string>
	<key>preferredDefaultListObjectIDUrl</key>
	<string>x-coredata://3CF314E3-7A03-4F0B-BDA2-A228B82FA3AC/REMCDList/p2</string>
	<key>spotlightIndexVersion</key>
	<integer>6</integer>
	<key>staledFileAttachmentCleanupLastExecutionDate</key>
	<date>2023-02-11T16:29:07Z</date>
	<key>syncActivityNotificationEngine_accountSignInTime</key>
	<dict>
		<key>&lt;x-apple-reminderkit://REMCDAccount/A51A17F6-6745-4AA3-81B1-94BDA121ED30&gt;</key>
		<date>2023-02-06T10:44:53Z</date>
	</dict>
	<key>useExtraneousAlarmBackOffThrottleInterval</key>
	<true/>
</dict>
</plist>
