<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadEvents</key>
	<dict>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<dict>
				<key>Assets</key>
				<array>
					<dict>
						<key>AssetID</key>
						<string>5fd923cfd4676f4af44618de4f15fcc9496ee64c</string>
						<key>AssetType</key>
						<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
						<key>CompatibilityVersion</key>
						<integer>1</integer>
						<key>ContentVersion</key>
						<integer>4</integer>
						<key>DownloadSize</key>
						<integer>68803988</integer>
						<key>FormatVersion</key>
						<integer>1</integer>
						<key>UnarchivedSize</key>
						<integer>90176512</integer>
						<key>UserInfo</key>
						<dict>
							<key>Build</key>
							<string>10M1320</string>
							<key>Sample</key>
							<true/>
							<key>_CompatibilityVersion</key>
							<integer>1</integer>
							<key>_CompressionAlgorithm</key>
							<string>zip</string>
							<key>_ContentVersion</key>
							<integer>4</integer>
							<key>_DownloadSize</key>
							<integer>68803988</integer>
							<key>_IsZipStreamable</key>
							<true/>
							<key>_MasteredVersion</key>
							<string>1320</string>
							<key>_Measurement</key>
							<data>
							IYUyezd4bjz4FGvVE8Fb
							T3HSBv0=
							</data>
							<key>_MeasurementAlgorithm</key>
							<string>SHA-1</string>
							<key>_UnarchivedSize</key>
							<integer>90176512</integer>
							<key>__AssetDefaultGarbageCollectionBehavior</key>
							<string>NeverCollected</string>
							<key>__BaseURL</key>
							<string>https://updates.cdn-apple.com/2022/mobileassets/012-35363/B664215C-867D-4AB1-9F12-37FAA5B5175D/</string>
							<key>__CanUseLocalCacheServer</key>
							<true/>
							<key>__RelativePath</key>
							<string>com_apple_MobileAsset_TTSAXResourceModelAssets/5fd923cfd4676f4af44618de4f15fcc9496ee64c.zip</string>
						</dict>
					</dict>
				</array>
				<key>Date</key>
				<date>2023-02-06T10:20:38Z</date>
			</dict>
		</array>
	</dict>
	<key>InstalledAssets</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array/>
		<key>com.apple.MobileAsset.ComfortSoundsAssets</key>
		<array/>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array/>
		<key>com.apple.MobileAsset.MacinTalkVoiceAssets</key>
		<array/>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<dict>
				<key>AssetID</key>
				<string>5fd923cfd4676f4af44618de4f15fcc9496ee64c</string>
				<key>AssetType</key>
				<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
				<key>CompatibilityVersion</key>
				<integer>1</integer>
				<key>ContentVersion</key>
				<integer>4</integer>
				<key>DownloadSize</key>
				<integer>68803988</integer>
				<key>FormatVersion</key>
				<integer>1</integer>
				<key>UnarchivedSize</key>
				<integer>90176512</integer>
				<key>UserInfo</key>
				<dict>
					<key>Build</key>
					<string>10M1320</string>
					<key>Sample</key>
					<true/>
					<key>_CompatibilityVersion</key>
					<integer>1</integer>
					<key>_CompressionAlgorithm</key>
					<string>zip</string>
					<key>_ContentVersion</key>
					<integer>4</integer>
					<key>_DownloadSize</key>
					<integer>68803988</integer>
					<key>_IsZipStreamable</key>
					<true/>
					<key>_MasteredVersion</key>
					<string>1320</string>
					<key>_Measurement</key>
					<data>
					IYUyezd4bjz4FGvVE8FbT3HSBv0=
					</data>
					<key>_MeasurementAlgorithm</key>
					<string>SHA-1</string>
					<key>_UnarchivedSize</key>
					<integer>90176512</integer>
					<key>__AssetDefaultGarbageCollectionBehavior</key>
					<string>NeverCollected</string>
					<key>__BaseURL</key>
					<string>https://updates.cdn-apple.com/2022/mobileassets/012-35363/B664215C-867D-4AB1-9F12-37FAA5B5175D/</string>
					<key>__CanUseLocalCacheServer</key>
					<true/>
					<key>__RelativePath</key>
					<string>com_apple_MobileAsset_TTSAXResourceModelAssets/5fd923cfd4676f4af44618de4f15fcc9496ee64c.zip</string>
				</dict>
			</dict>
		</array>
		<key>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</key>
		<array/>
	</dict>
	<key>RefreshEvents</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array>
			<date>2023-02-07T22:40:35Z</date>
			<date>2023-02-10T22:35:06Z</date>
		</array>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array>
			<date>2023-02-08T15:30:54Z</date>
			<date>2023-02-09T15:55:45Z</date>
			<date>2023-02-10T11:11:42Z</date>
			<date>2023-02-11T11:51:19Z</date>
		</array>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<date>2023-02-10T04:38:32Z</date>
		</array>
	</dict>
	<key>UserInfo</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2023-02-10T22:35:07Z</date>
				<key>LastExitStatus</key>
				<string>Failed</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2023-02-11T11:51:21Z</date>
				<key>LastExitStatus</key>
				<string>Success</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<dict>
			<key>ComponentChangeTaskSuccessful</key>
			<date>2023-02-11T19:24:31Z</date>
			<key>RefreshSSEVoicesForBundlePrefixTaskSuccessful</key>
			<date>2023-02-11T19:16:34Z</date>
			<key>SystemBootTime</key>
			<date>2023-02-11T19:15:58Z</date>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2023-02-10T04:38:34Z</date>
				<key>LastExitStatus</key>
				<string>Success</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
			<key>UpdateResourcesTaskSuccessful</key>
			<date>2023-02-11T19:24:32Z</date>
			<key>UpdateSiriVoicesTaskSuccessful</key>
			<date>2023-02-11T19:16:33Z</date>
		</dict>
	</dict>
</dict>
</plist>
