<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mail.custom-domains.transfer</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGDQ4PClV2YWx1ZVdmZXRjaGVkWXNlc3Npb25JRFdhbHREU0lE
	WmV4cGlyYXRpb27TBwgJCgsMWWNhY2hlVGlsbFpmZWF0dXJlS2V5VmNhblVzZTNBxMy5
	RIAAAF8QHG1haWwuY3VzdG9tLWRvbWFpbnMudHJhbnNmZXIIM0HEzBCFBE8JXxAkNjc1
	MzVFMUEtNzYzQy00QzM0LUI4NTgtQjdGMjc2NzYwMDQ0XxAuMDAxNDQwLTA4LTA5NjMz
	OGE4LWRiMWItNGVmNi1iYmE2LWM1YzkzYzgyZDhhNQgTGSErMz5FT1phaomKk7oAAAAA
	AAABAQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA6w==
	</data>
	<key>mail.hide-my-email.create</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGDQ4PClV2YWx1ZVdmZXRjaGVkWXNlc3Npb25JRFdhbHREU0lE
	WmV4cGlyYXRpb27TBwgJCgsMWWNhY2hlVGlsbFpmZWF0dXJlS2V5VmNhblVzZTNBxMy5
	RIAAAF8QGW1haWwuaGlkZS1teS1lbWFpbC5jcmVhdGUIM0HEzBCFBEbQXxAkNjc1MzVF
	MUEtNzYzQy00QzM0LUI4NTgtQjdGMjc2NzYwMDQ0XxAuMDAxNDQwLTA4LTA5NjMzOGE4
	LWRiMWItNGVmNi1iYmE2LWM1YzkzYzgyZDhhNQgTGSErMz5FT1phaoaHkLcAAAAAAAAB
	AQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA6A==
	</data>
	<key>networking.privacy.attestation</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGDxARC1V2YWx1ZVdmZXRjaGVkWXNlc3Npb25JRFdhbHREU0lE
	WmV4cGlyYXRpb27UBwgJCgsMDQ5ZY2FjaGVUaWxsVmNhblVzZVpmZWF0dXJlS2V5W2Fj
	Y2Vzc1Rva2VuM0HEzLlEgAAACV8QHm5ldHdvcmtpbmcucHJpdmFjeS5hdHRlc3RhdGlv
	bl8RAhlleUoyYVdRaU9qSXNJbUZzWnlJNklrVlRNemcwSWl3aWEybGtJam9pZFd4Q1Ux
	RjVNMEZVTFRKVE5UUkJSRkZGWlRSVVJIZFNkWEo1YW5CQlFVUnZORk4zV25aa2FUVlVZ
	eUo5LmV5SmhZMk52ZFc1MFNXUWlPaUl5TURrNE9ERXhNVEl5T0NJc0ltbHpjeUk2SW1G
	d2NHeGxMbU5zYjNWa0xuTjFZbk5qY21sd2RHbHZibk11Y0RFeU1pSXNJbVY0Y0NJNk1U
	WTNOakl5T1RNNE5Td2lhV0YwSWpveE5qYzJNVFF5T1RnMUxDSm1aV0YwZFhKbFMyVjVJ
	am9pYm1WMGQyOXlhMmx1Wnk1d2NtbDJZV041TG1GMGRHVnpkR0YwYVc5dUlpd2laR1Yy
	YVdObFNXUWlPaUl3TURBd05qQXlNQzB3TURCQk1EQkVOREl5TjBJME1ERkZJaXdpYW5S
	cElqb2lOVFkxWkdJeFl6WXRZVFV3T0MwME9Ea3hMVGc1TURRdE1ERmxZelJqWmpSaVpq
	Um1JbjAuaG4xdTcxZWRIRHpBc29Ka0VkTUg4aW40MkxrZXhsNW1kck9EUG1ldjliVVZQ
	cmRaakxFVFBjU1J3UjhBS2FxcEszbmRHZ3o5UkNINUtwMnJ2OVp0RjF3QTFkYzBTMkNq
	MzhQNTg4VDBuRXl6UnBzVmczMXA3ZE1Nc1JqT2Z1WEkzQcTMEIUEN+dfECQ2NzUzNUUx
	QS03NjNDLTRDMzQtQjg1OC1CN0YyNzY3NjAwNDRfEC4wMDE0NDAtMDgtMDk2MzM4YTgt
	ZGIxYi00ZWY2LWJiYTYtYzVjOTNjODJkOGE1AAgAEwAZACEAKwAzAD4ARwBRAFgAYwBv
	AHgAeQCaArcCwALnAAAAAAAAAgEAAAAAAAAAEgAAAAAAAAAAAAAAAAAAAxg=
	</data>
	<key>networking.privacy.subscriber</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGDQ4PClV2YWx1ZVdmZXRjaGVkWXNlc3Npb25JRFdhbHREU0lE
	WmV4cGlyYXRpb27TBwgJCgsMWWNhY2hlVGlsbFpmZWF0dXJlS2V5VmNhblVzZTNBxMy5
	RIAAAF8QHW5ldHdvcmtpbmcucHJpdmFjeS5zdWJzY3JpYmVyCDNBxMwQhQQL7V8QJDY3
	NTM1RTFBLTc2M0MtNEMzNC1CODU4LUI3RjI3Njc2MDA0NF8QLjAwMTQ0MC0wOC0wOTYz
	MzhhOC1kYjFiLTRlZjYtYmJhNi1jNWM5M2M4MmQ4YTUIExkhKzM+RU9aYWqKi5S7AAAA
	AAAAAQEAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAOw=
	</data>
</dict>
</plist>
