<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceIdentifier</key>
	<string>28177918-C27C-473A-AF39-3F79567D2E86</string>
	<key>LastDateProviderSessionToken</key>
	<string>1676142958</string>
</dict>
</plist>
