<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1676142958</integer>
	<key>apsTokenStorageKey</key>
	<data>
	/dIV9HT9cJQ4EKCAlrWsBb0+45A=
	</data>
	<key>kFMFDlastLoggedInPrsId</key>
	<string>20988111228</string>
	<key>kFMFHostRedirects</key>
	<dict/>
	<key>kFMFTapMessages</key>
	<array/>
	<key>lastSuccessfulInitDateKey</key>
	<date>2023-02-11T19:16:22Z</date>
	<key>lazyInitTimeSecsStoredKey</key>
	<real>543600</real>
	<key>notificationToken</key>
	<array>
		<string>C5AA7+y6SYOHqYQdVHf5CGUy1ZmH2RMVRxudtS0MkLY=</string>
	</array>
	<key>numberOfFriendsFollowersKey</key>
	<integer>0</integer>
	<key>storedConfigKey</key>
	<dict>
		<key>blockFMFChannel</key>
		<false/>
		<key>eLGraceTimeMin</key>
		<integer>2</integer>
		<key>familyPhotoCheckIntervalInSecs</key>
		<integer>345600</integer>
		<key>graceInterval401InSec</key>
		<integer>60</integer>
		<key>graceInterval5XXInSec</key>
		<integer>60</integer>
		<key>lazyInitTimeoutInSec</key>
		<integer>543600</integer>
		<key>locationTTL</key>
		<integer>7200000</integer>
		<key>maxFollowers</key>
		<integer>100</integer>
		<key>maxFriends</key>
		<integer>100</integer>
		<key>maxLocatingIntervalInMS</key>
		<integer>22000</integer>
		<key>maxTriesToRegisterDevice</key>
		<integer>1</integer>
		<key>maxWaitTimeForRegisterMS</key>
		<integer>12000</integer>
		<key>sendOnlyFMFChannel</key>
		<false/>
		<key>showAirDropImportAlert</key>
		<true/>
		<key>showAirDropImportUseFMFAppAlert</key>
		<false/>
		<key>showAirDropImportViewOniCloudAlert</key>
		<true/>
		<key>systemInactivityTimeoutInSec</key>
		<integer>180</integer>
		<key>transcriptDelegateStartEnabled</key>
		<true/>
		<key>transcriptDelegateStopEnabled</key>
		<true/>
		<key>upsellTimeoutInSec</key>
		<integer>604800</integer>
		<key>userLocateWaitIntervalInMS</key>
		<integer>100</integer>
	</dict>
	<key>storedDSID</key>
	<string>20988111228</string>
</dict>
</plist>
