<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>segment.anonymousId</key>
	<string>DDD1746D-AA23-4485-B60A-D5621E2C6FF5</string>
	<key>segment.events</key>
	<integer>7</integer>
	<key>segment.settings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGSElcZWRnZUZ1bmN0aW9uXGludGVncmF0aW9uc18QEm1pZGRs
	ZXdhcmVTZXR0aW5nc1RwbGFu0NIHCAk7WE1peHBhbmVsWlNlZ21lbnQuaW/fEBUKCwwN
	Dg8QERITFBUWFxgZGhscHR4fICEiIyQlJCcoHx8rLDQfNh8fJB9fEBV0cmFja0NhdGVn
	b3JpemVkUGFnZXNfEA9zdXBlclByb3BlcnRpZXNbcGVyc2lzdGVuY2VfEBVncm91cElk
	ZW50aWZpZXJUcmFpdHNecHJvcEluY3JlbWVudHNfEBRjcm9zc1N1YmRvbWFpbkNvb2tp
	ZVpzb3VyY2VOYW1lXxAVc2V0QWxsVHJhaXRzQnlEZWZhdWx0VHR5cGVfEBBwZW9wbGVQ
	cm9wZXJ0aWVzXxAbZW5hYmxlRXVyb3BlYW5VbmlvbkVuZHBvaW50XHNlY3VyZUNvb2tp
	ZVV0b2tlbl8QD3ZlcnNpb25TZXR0aW5nc15idW5kbGluZ1N0YXR1c18QFWNvbnNvbGlk
	YXRlZFBhZ2VDYWxsc18QD2V2ZW50SW5jcmVtZW50c18QFWxlZ2FjeVN1cGVyUHJvcGVy
	dGllc110cmFja0FsbFBhZ2VzVnBlb3BsZV8QD3RyYWNrTmFtZWRQYWdlcwigVmNvb2tp
	ZaCgCVAJV2Jyb3dzZXKgCAhfECBhZDgzOTU5ODZlYjdmOGM3MGE3OTQ5YWU2ZGFiNzY0
	ZtItLi8wV3ZlcnNpb25eY29tcG9uZW50VHlwZXNVMy4yLjGkJzEyM1Npb3NXYW5kcm9p
	ZFZzZXJ2ZXJZdW5idW5kbGVkCKAICAkI1Tw9Pj8XQEEkQ0VWYXBpS2V5XxAVbWF5YmVC
	dW5kbGVkQ29uZmlnSWRzXxASYWRkQnVuZGxlZE1ldGFkYXRhXxAVdW5idW5kbGVkSW50
	ZWdyYXRpb25zXxAgOE5GSlNLeWNWRVluTDhTRDVFc0NaVm9VQ2VGSHJvb3nQCaJEB1lB
	bXBsaXR1ZGXSLi1GR6EnVTQuNC430NNKS0xNUldVZ3JvdXBVdHJhY2tYaWRlbnRpZnnR
	Tk9ZX19kZWZhdWx00VAkV2VuYWJsZWQJ0U5T0lRQVSRcaW50ZWdyYXRpb25z0AnRTljR
	UCQJAAgAEQAeACsAQABFAEYASwBUAF8AjACkALYAwgDaAOkBAAELASMBKAE7AVkBZgFs
	AX4BjQGlAbcBzwHdAeQB9gH3AfgB/wIAAgECAgIDAgQCDAINAg4CDwIyAjcCPwJOAlQC
	WQJdAmUCbAJ2AncCeAJ5AnoCewJ8AocCjgKmArsC0wL2AvcC+AL7AwUDCgMMAxIDEwMa
	AyADJgMvAzIDPAM/A0cDSANLA1ADXQNeA18DYgNlAAAAAAAAAgEAAAAAAAAAWgAAAAAA
	AAAAAAAAAAAAA2Y=
	</data>
</dict>
</plist>
