<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1676142958</integer>
	<key>CloudBookmarksSupplementalClientIdentifier</key>
	<string>92601EEE-DDEF-4000-AF0D-B0191EB006C7</string>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>561b81788894b77861d13fdabbfaf49f1430498080392cfc3b60eca4078f26b0</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwYVSRu
		dWxs1g0ODxAREhMUFRMWF11BY2NvdW50U3RhdHVzXxAkRGV2aWNlVG9EZXZp
		Y2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxAcQWNjb3VudEluZm9WYWxpZGF0
		aW9uQ291bnRlcl8QEEFjY291bnRQYXJ0aXRpb25fEBNIYXNWYWxpZENyZWRl
		bnRpYWxzViRjbGFzcxABEAMQnQmAAtIZGhscWiRjbGFzc25hbWVYJGNsYXNz
		ZXNdQ0tBY2NvdW50SW5mb6IbHVhOU09iamVjdAAIABEAGgAkACkAMgA3AEkA
		TABRAFMAVwBdAGoAeACfAL4A0QDnAO4A8ADyAPQA9QD3APwBBwEQAR4BIQAA
		AAAAAAIBAAAAAAAAAB4AAAAAAAAAAAAAAAAAAAEq
		</data>
	</dict>
	<key>MigrationStateEncodedRecordData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB2RYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QLggJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU2NzY5NjY3PTY2NjY2NjdFRjY2NjY2TDZONjc2NjY2
	N1ZXN1laNjY3Nl9gNjc2XxAWVG9tYnN0b25lZFB1YmxpY0tleUlEc18QGUhhc1VwZGF0
	ZWRQYXJlbnRSZWZlcmVuY2VfEBNDaGFpblByb3RlY3Rpb25EYXRhXUtub3duVG9TZXJ2
	ZXJfEBFEaXNwbGF5ZWRIb3N0bmFtZVlCYXNlVG9rZW5fEBBXYW50c0NoYWluUENTS2V5
	W1JlY29yZEN0aW1lWlJvdXRpbmdLZXlfEBJQcm90ZWN0aW9uRGF0YUV0YWdeRXhwaXJh
	dGlvbkRhdGVfECZQcmV2aW91c1Byb3RlY3Rpb25EYXRhRXRhZ0Zyb21Vbml0VGVzdF8Q
	EkNvbmZsaWN0TG9zZXJFdGFnc18QGlByZXZpb3VzUHJvdGVjdGlvbkRhdGFFdGFnXxAU
	SGFzVXBkYXRlZEV4cGlyYXRpb25aUmVjb3JkVHlwZV8QE0NyZWF0b3JVc2VyUmVjb3Jk
	SURfEA9QYXJlbnRSZWZlcmVuY2VZU2hhcmVFdGFnWFBDU0tleUlEXFpvbmVpc2hLZXlJ
	RF8QIE11dGFibGVFbmNyeXB0ZWRQdWJsaWNTaGFyaW5nS2V5VEVUYWdfEBZQcmV2aW91
	c1NoYXJlUmVmZXJlbmNlXxAQTW9kaWZpZWRCeURldmljZV5Qcm90ZWN0aW9uRGF0YV8Q
	EVVzZUxpZ2h0d2VpZ2h0UENTXlNoYXJlUmVmZXJlbmNlXxARVXBkYXRlZEV4cGlyYXRp
	b25TVVJMXxAWQ2hhaW5QYXJlbnRQdWJsaWNLZXlJRFdFeHBpcmVkXxAYTGFzdE1vZGlm
	aWVkVXNlclJlY29yZElEW1JlY29yZE10aW1lXxAVV2FudHNQdWJsaWNTaGFyaW5nS2V5
	XxATRW5jcnlwdGVkVmFsdWVTdG9yZVpWYWx1ZVN0b3JlXFBsdWdpbkZpZWxkc18QFlpv
	bmVQcm90ZWN0aW9uRGF0YUV0YWdZV2FzQ2FjaGVkXxAPQ2hhaW5Qcml2YXRlS2V5WlBl
	cm1pc3Npb25YUmVjb3JkSURcQWxsUENTS2V5SURzXxAYSGFzVXBkYXRlZFNoYXJlUmVm
	ZXJlbmNlXxAXUHJldmlvdXNQYXJlbnRSZWZlcmVuY2WAAAiAAAmAAIAACIAJgACAAIAA
	gACAAIAACIABgAyAAIAAgACAAIAAgBSAAIATgAAIgACAAIAAgAAIgBGACwiAIIAVgACA
	AAiAABABgAKAAAiAAK8QJWVmZ25veXp7gYSIi46Sk5iZmp6foKGps7S1tre7v8LGys/T
	19pVJG51bGxeTWlncmF0aW9uU3RhdGXTaGlqa2xtViRjbGFzc1pSZWNvcmROYW1lVlpv
	bmVJRIAIgAOABF5NaWdyYXRpb25TdGF0ZdVwcXJzaHQ2dnd4XxAQZGF0YWJhc2VTY29w
	ZUtleV8QEWFub255bW91c0NLVXNlcklEWW93bmVyTmFtZVhab25lTmFtZRAAgACABoAF
	gAdZQm9va21hcmtzXxAQX19kZWZhdWx0T3duZXJfX9J8fX5/WiRjbGFzc25hbWVYJGNs
	YXNzZXNeQ0tSZWNvcmRab25lSUSifoBYTlNPYmplY3TSfH2Cg1pDS1JlY29yZElEooKA
	0oVohodXTlMudGltZSNBxMiI04T99IAK0nx9iYpWTlNEYXRloomA0oVojIcjQcTIiNPl
	ocuACtNoaWprkJGACIANgA5fEBBfX2RlZmF1bHRPd25lcl9f1XBxcnNodDaVlniAAIAQ
	gA+AB1xfZGVmYXVsdFpvbmVfEBBfX2RlZmF1bHRPd25lcl9f02hpamuckYAIgBKADl8Q
	EF9fZGVmYXVsdE93bmVyX19vEBIAQQBkAGEAbSAZAHMAIABNAGEAYwBCAG8AbwBrACAA
	UAByAG9RNdSio6RopaanqFtDaGFuZ2VkS2V5c15PcmlnaW5hbFZhbHVlc1xSZWNvcmRW
	YWx1ZXOAHYAcgBaAH9Oqq2isr7JXTlMua2V5c1pOUy5vYmplY3Rzoq2ugBeAGKKwsYAZ
	gBqAG15NaWdyYXRpb25TdGF0ZV8QGE1pZ3JhdG9yRGV2aWNlSWRlbnRpZmllchACXxBA
	OUFDREYzRERDM0UxNDRGMURCRUJDNENCQTY2MTM5QzE1QUM1RjgyMDdBRTM3RjUzRDZB
	MjVFNEU2NEExOUE5NtJ8fbi5XxATTlNNdXRhYmxlRGljdGlvbmFyeaO4uoBcTlNEaWN0
	aW9uYXJ506qraLy9sqCggBvSq2jAwaCAHtJ8fcPEXE5TTXV0YWJsZVNldKPDxYBVTlNT
	ZXTSfH3HyF8QEkNLUmVjb3JkVmFsdWVTdG9yZaLJgF8QEkNLUmVjb3JkVmFsdWVTdG9y
	ZdSio6Roy8zNzoAjgCKAIYAk06qraNDRsqCggBvTqqto1NWyoKCAG9KraNjBoIAe0nx9
	29xfEBtDS0VuY3J5cHRlZFJlY29yZFZhbHVlU3RvcmWj3d6AXxAbQ0tFbmNyeXB0ZWRS
	ZWNvcmRWYWx1ZVN0b3JlXxASQ0tSZWNvcmRWYWx1ZVN0b3JlAAgAEQAaACQAKQAyADcA
	SQCoAMEA3QDzAQEBFQEfATIBPgFJAV4BbQGWAasByAHfAeoCAAISAhwCJQIyAlUCWgJz
	AoYClQKpArgCzALQAukC8QMMAxgDMANGA1EDXgN3A4EDkwOeA6cDtAPPA+kD6wPsA+4D
	7wPxA/MD9AP2A/gD+gP8A/4EAAQCBAMEBQQHBAkECwQNBA8EEQQTBBUEFwQZBBoEHAQe
	BCAEIgQjBCUEJwQoBCoELAQuBDAEMQQzBDUENwQ5BDoEPARkBGoEeQSABIcEkgSZBJsE
	nQSfBK4EuQTMBOAE6gTzBPUE9wT5BPsE/QUHBRoFHwUqBTMFQgVFBU4FUwVeBWEFZgVu
	BXcFeQV+BYUFiAWNBZYFmAWfBaEFowWlBbgFwwXFBccFyQXLBdgF6wXyBfQF9gX4BgsG
	MgY0Bj0GSQZYBmUGZwZpBmsGbQZ0BnwGhwaKBowGjgaRBpMGlQaXBqYGwQbDBwYHCwch
	ByUHMgc5BzoHOwc9B0IHQwdFB0oHVwdbB2EHZgd7B34HkwecB54HoAeiB6QHqwesB60H
	rwe2B7cHuAe6B78HwAfCB8cH5QfpCAcAAAAAAAACAQAAAAAAAADfAAAAAAAAAAAAAAAA
	AAAIHA==
	</data>
	<key>NewestLaunchedSafariBookmarksSyncAgentVersion</key>
	<string>614.2.9.1.12</string>
	<key>TabGroupMigrationStateEncodedRecordData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB2RYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QLggJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU2NzY5OjY3PTY2NjY2NjdFRjY2NjY2TDZONjc2NjY2
	N1Y9N1laNjY3Nl9gNjc2XxAWVG9tYnN0b25lZFB1YmxpY0tleUlEc18QGUhhc1VwZGF0
	ZWRQYXJlbnRSZWZlcmVuY2VfEBNDaGFpblByb3RlY3Rpb25EYXRhXUtub3duVG9TZXJ2
	ZXJfEBFEaXNwbGF5ZWRIb3N0bmFtZVlCYXNlVG9rZW5fEBBXYW50c0NoYWluUENTS2V5
	W1JlY29yZEN0aW1lWlJvdXRpbmdLZXlfEBJQcm90ZWN0aW9uRGF0YUV0YWdeRXhwaXJh
	dGlvbkRhdGVfECZQcmV2aW91c1Byb3RlY3Rpb25EYXRhRXRhZ0Zyb21Vbml0VGVzdF8Q
	EkNvbmZsaWN0TG9zZXJFdGFnc18QGlByZXZpb3VzUHJvdGVjdGlvbkRhdGFFdGFnXxAU
	SGFzVXBkYXRlZEV4cGlyYXRpb25aUmVjb3JkVHlwZV8QE0NyZWF0b3JVc2VyUmVjb3Jk
	SURfEA9QYXJlbnRSZWZlcmVuY2VZU2hhcmVFdGFnWFBDU0tleUlEXFpvbmVpc2hLZXlJ
	RF8QIE11dGFibGVFbmNyeXB0ZWRQdWJsaWNTaGFyaW5nS2V5VEVUYWdfEBZQcmV2aW91
	c1NoYXJlUmVmZXJlbmNlXxAQTW9kaWZpZWRCeURldmljZV5Qcm90ZWN0aW9uRGF0YV8Q
	EVVzZUxpZ2h0d2VpZ2h0UENTXlNoYXJlUmVmZXJlbmNlXxARVXBkYXRlZEV4cGlyYXRp
	b25TVVJMXxAWQ2hhaW5QYXJlbnRQdWJsaWNLZXlJRFdFeHBpcmVkXxAYTGFzdE1vZGlm
	aWVkVXNlclJlY29yZElEW1JlY29yZE10aW1lXxAVV2FudHNQdWJsaWNTaGFyaW5nS2V5
	XxATRW5jcnlwdGVkVmFsdWVTdG9yZVpWYWx1ZVN0b3JlXFBsdWdpbkZpZWxkc18QFlpv
	bmVQcm90ZWN0aW9uRGF0YUV0YWdZV2FzQ2FjaGVkXxAPQ2hhaW5Qcml2YXRlS2V5WlBl
	cm1pc3Npb25YUmVjb3JkSURcQWxsUENTS2V5SURzXxAYSGFzVXBkYXRlZFNoYXJlUmVm
	ZXJlbmNlXxAXUHJldmlvdXNQYXJlbnRSZWZlcmVuY2WAAAiAAAmAE4AACIAIgACAAIAA
	gACAAIAACIABgAqAAIAAgACAAIAAgBKAAIARgAAIgACAAIAAgAAIgA+ACAiAHoAUgACA
	AAiAABAAgAKAAAiAAK8QI2VmZ253eHl/goaJjY6TlJWZmpucnaWvsLGytrq9wcXKztLV
	VSRudWxsXk1pZ3JhdGlvblN0YXRl02hpamtFbVYkY2xhc3NaUmVjb3JkTmFtZVZab25l
	SUSAB4ABgAPVb3BxcmhfNnR1dl8QEGRhdGFiYXNlU2NvcGVLZXlfEBFhbm9ueW1vdXND
	S1VzZXJJRFlvd25lck5hbWVYWm9uZU5hbWWAAIAFgASABllUYWJHcm91cHNfEBBfX2Rl
	ZmF1bHRPd25lcl9f0np7fH1aJGNsYXNzbmFtZVgkY2xhc3Nlc15DS1JlY29yZFpvbmVJ
	RKJ8flhOU09iamVjdNJ6e4CBWkNLUmVjb3JkSUSigH7Sg2iEhVdOUy50aW1lI0HEyIjX
	M/fPgAnSenuHiFZOU0RhdGWih37TaGlqa4uMgAeAC4AMXxAQX19kZWZhdWx0T3duZXJf
	X9VvcHFyaF82kJF2gACADoANgAZcX2RlZmF1bHRab25lXxAQX19kZWZhdWx0T3duZXJf
	X9NoaWprl4yAB4AQgAxfEBBfX2RlZmF1bHRPd25lcl9fbxASAEEAZABhAG0gGQBzACAA
	TQBhAGMAQgBvAG8AawAgAFAAcgBvWGxkc29zY2FwXnd3dy5pY2xvdWQuY29t1J6foGih
	oqOkW0NoYW5nZWRLZXlzXk9yaWdpbmFsVmFsdWVzXFJlY29yZFZhbHVlc4AbgBqAFYAd
	06anaKirrldOUy5rZXlzWk5TLm9iamVjdHOiRaqAAYAWoqytgBeAGIAZXxAYTWlncmF0
	b3JEZXZpY2VJZGVudGlmaWVyEAJfECQzRTZGMUMxQy03NkMyLTQzNTEtQjlGNi05NzY4
	OUNGMEQ5NUTSenuztF8QE05TTXV0YWJsZURpY3Rpb25hcnmjs7V+XE5TRGljdGlvbmFy
	edOmp2i3uK6goIAZ0qdou7yggBzSenu+v1xOU011dGFibGVTZXSjvsB+VU5TU2V00np7
	wsNfEBJDS1JlY29yZFZhbHVlU3RvcmWixH5fEBJDS1JlY29yZFZhbHVlU3RvcmXUnp+g
	aMbHyMmAIYAggB+AItOmp2jLzK6goIAZ06anaM/QrqCggBnSp2jTvKCAHNJ6e9bXXxAb
	Q0tFbmNyeXB0ZWRSZWNvcmRWYWx1ZVN0b3Jlo9jZfl8QG0NLRW5jcnlwdGVkUmVjb3Jk
	VmFsdWVTdG9yZV8QEkNLUmVjb3JkVmFsdWVTdG9yZQAIABEAGgAkACkAMgA3AEkAqADB
	AN0A8wEBARUBHwEyAT4BSQFeAW0BlgGrAcgB3wHqAgACEgIcAiUCMgJVAloCcwKGApUC
	qQK4AswC0ALpAvEDDAMYAzADRgNRA14DdwOBA5MDngOnA7QDzwPpA+sD7APuA+8D8QPz
	A/QD9gP4A/oD/AP+BAAEAgQDBAUEBwQJBAsEDQQPBBEEEwQVBBcEGQQaBBwEHgQgBCIE
	IwQlBCcEKAQqBCwELgQwBDEEMwQ1BDcEOQQ6BDwEYgRoBHcEfgSFBJAElwSZBJsEnQSo
	BLsEzwTZBOIE5ATmBOgE6gT0BQcFDAUXBSAFLwUyBTsFQAVLBU4FUwVbBWQFZgVrBXIF
	dQV8BX4FgAWCBZUFoAWiBaQFpgWoBbUFyAXPBdEF0wXVBegGDwYYBicGMAY8BksGWAZa
	BlwGXgZgBmcGbwZ6Bn0GfwaBBoQGhgaIBooGpQanBs4G0wbpBu0G+gcBBwIHAwcFBwoH
	CwcNBxIHHwcjBykHLgdDB0YHWwdkB2YHaAdqB2wHcwd0B3UHdwd+B38HgAeCB4cHiAeK
	B48HrQexB88AAAAAAAACAQAAAAAAAADaAAAAAAAAAAAAAAAAAAAH5A==
	</data>
</dict>
</plist>
