<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>59226.144354208336</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>5</integer>
						<key>id64</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>29A63D3E-B46F-4AD3-8AB5-4559A4BD07E1</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>6</integer>
							<key>id64</key>
							<integer>6</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>AA4EAAE3-8A9D-4AFC-A5DE-D473A0F18C90</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>1</integer>
							<key>id64</key>
							<integer>1</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string></string>
							<key>wsid</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>7</integer>
							<key>id64</key>
							<integer>7</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>3EE30C2F-2C50-4D23-8B86-714D22AC8374</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>5</integer>
							<key>id64</key>
							<integer>5</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>29A63D3E-B46F-4AD3-8AB5-4559A4BD07E1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>AutoCreated</key>
						<true/>
						<key>ManagedSpaceID</key>
						<integer>117</integer>
						<key>id64</key>
						<integer>117</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>A9549FF2-38D2-4DD1-BDB6-190A11449046</string>
					</dict>
					<key>Display Identifier</key>
					<string>C49A76B4-ED41-42C9-BABF-439A5DD52A1D</string>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>windows</key>
				<array>
					<integer>27</integer>
					<integer>395</integer>
					<integer>47</integer>
					<integer>61</integer>
					<integer>18</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>29A63D3E-B46F-4AD3-8AB5-4559A4BD07E1</string>
				<key>windows</key>
				<array>
					<integer>448</integer>
					<integer>277</integer>
					<integer>27</integer>
					<integer>15</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>AA4EAAE3-8A9D-4AFC-A5DE-D473A0F18C90</string>
				<key>windows</key>
				<array>
					<integer>27</integer>
					<integer>65</integer>
					<integer>17</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>3EE30C2F-2C50-4D23-8B86-714D22AC8374</string>
				<key>windows</key>
				<array>
					<integer>27</integer>
					<integer>52</integer>
					<integer>28</integer>
					<integer>19</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
